<div class="static-article">
  <div class="block en">
    <p>
      The English start with the advantage of a good strategic position. If the
      British Isles can be conquered, there are few direct threats to English
      security, but expansion is continually hampered by the presence of the
      French, an enemy both rich and powerful.
    </p>
  </div>
  <div class="block cn">
    <p>
      英格兰在良好的战略位置上开始。如果能够征服不列颠群岛，英格兰的安全面临的直接威胁就会减少，但扩张始终受到富有而强大的法国的阻碍。
    </p>
  </div>
  <div class="block en">
    <p>
      English armies have no special advantages, but can eventually include two
      exclusive troop types: Longbowmen and Billmen. Although not immediately
      available, Longbowmen, and particularly Longbowmen trained in Wales, are
      war-winning units. Billmen are less dramatic, although the ability to
      field a kind of halberdier earlier than other factions should not be
      undervalued!
    </p>
  </div>
  <div class="block cn">
    <p>
      英军没有特别的优势，但最终可以包括两种独特的部队类型：长弓手和长矛兵。尽管长弓手并非立刻可用，尤其是训练于威尔士的长弓手，是制胜的单位。长矛兵虽然不那么戏剧化，但比其他派系更早地配备一种戟兵的能力也不容小觑！
    </p>
  </div>
  <div class="block en">
    <p>
      By 1087, England is, for the most part, firmly in the control of its
      Norman overlords. The King, his courtiers, and the great lords are all
      French-speaking Normans, and most hold lands on both sides of the English
      Channel. England is only one part of a larger Norman domain but is
      increasingly wealthy due to the wool trade.
    </p>
  </div>
  <div class="block cn">
    <p>
      到1087年，英格兰在很大程度上牢牢掌握在诺曼统治者手中。国王、他的随臣和大领主都是说法语的诺曼人，大多数人拥有英吉利海峡两岸的土地。英格兰只是更大诺曼领地的一部分，但由于羊毛贸易的原因，其财富不断增加。
    </p>
  </div>
  <div class="block en">
    <p>
      This basic position on both a defensible island and on the continent
      brings opportunities and problems for an English King. The kingdom is
      sprawling and not always easy to defend at every point.
    </p>
  </div>
  <div class="block cn">
    <p>
      这个在可防御的岛屿和大陆上的基本位置为英王带来了机遇和问题。王国的版图广袤，并不总是容易在每个点上进行防守。
    </p>
  </div>
  <div class="block en">
    <p>
      There are also political considerations: thanks to ancient oaths of
      fealty, the English King is nominally a vassal of the French King. This
      status is ignored by English Kings as a matter of course, but is a bone of
      contention with France.
    </p>
  </div>
  <div class="block cn">
    <p>
      还有政治因素：由于古老的效忠誓言，英王名义上是法王的附庸。英王通常对此地位置之不理，但这与法国的关系中存在争议。
    </p>
  </div>
  <div class="block en">
    <p>
      The English ambition to gain land and power at the expense of France is
      another issue in the two nations' intertwined histories. The English kings
      are, of course, Catholic, but they are not above struggles with Rome over
      who controls the Church in England, a struggle that has still to be played
      out to a conclusion.
    </p>
  </div>
  <div class="block cn">
    <p>
      英格兰试图在法国的代价上获得土地和权力的雄心，是两国交织历史中的另一个问题。当然，英王是天主教徒，但在谁控制英格兰教会的问题上，他们并不避讳与罗马的斗争，这场斗争尚未有定论。
    </p>
  </div>
  <div class="block en">
    <p>That said, the Kings of England are largely pious and god-fearing.</p>
  </div>
  <div class="block cn">
    <p>话虽如此，英格兰国王基本上都是虔诚和敬畏上帝的。</p>
  </div>
  <div class="block en">
    <p>
      As always, when looking to expand, the English must look both close to
      home and across the seas to France. With holdings in France, an attack
      there can look tempting, but any English ruler who doesn't keep an eye on
      Scotland at the same time is asking for trouble.
    </p>
  </div>
  <div class="block cn">
    <p>
      和往常一样，当寻求扩张时，英格兰人必须关注家附近和横跨海洋的法国。若在法国拥有领土，攻击那里看似诱人，但任何忽视同时关注苏格兰的英格兰统治者都在自找麻烦。
    </p>
  </div>
  <div class="block en">
    <p>
      Scotland, Wales, and Ireland can be subdued first, but it is likely to be
      at a high cost in blood and treasure. In turn, this risks an attack by the
      French. And once conquered, new lands will need to be firmly occupied.
    </p>
  </div>
  <div class="block cn">
    <p>
      苏格兰、威尔士和爱尔兰可以优先被征服，但这可能需要付出高昂的血腥和财富代价。反过来，这又可能引发法国的攻击。一旦征服，新领土需要得到稳固占领。
    </p>
  </div>
  <div class="block en">
    <p>
      All that said, the English have Norman vigour and a growing sense of
      national identity to bind them together under a strong war leader. They
      have the potential to flower into a great western empire.
    </p>
  </div>
  <div class="block cn">
    <p>
      尽管如此，英格兰人拥有诺曼人的活力和日益增强的民族认同感，可以在强大的战争领袖的带领下团结起来。他们有潜力发展成一个伟大的西方帝国。
    </p>
  </div>
</div>
