<div class="static-article">
  <div class="block en">
    <p>
      The early medieval period is one of absolute faith, stunning brutality,
      bottomless greed, pitiless cruelty, venal treachery, rampant warfare, low
      politics, and boundless personal ambition.
    </p>
  </div>
  <div class="block cn">
    <p>
      早期中世纪是一个绝对信仰、惊人残酷、无尽贪婪、无情残忍、卑鄙背叛、肆虐战争、低级政治和无限个人野心的时代。
    </p>
  </div>
  <div class="block en">
    <p>
      The dark age of warlords is at last passing away in Europe. The successful
      warlords have inadvertently transformed themselves into feudal nobility
      and royalty, but a strong sword arm is no longer enough to carve out a
      petty kingdom, not if you intend to keep it and pass it on to your
      children. A kingdom is no longer enough when your vassals hold lands for
      you and serve in your armies in return. More is always needed. But these
      are not yet nations—loyalties are still personal, rather than to an
      abstract idea of a nation.
    </p>
  </div>
  <div class="block cn">
    <p>
      在欧洲，战士的黑暗时代终于过去了。成功的战士无意中转变为封建贵族和王室，但单靠强大的剑臂已不足以开辟一个小王国，尤其是当你打算保持这个王国并将其传给孩子时。当你的附庸为你拥有土地并为你服务时，仅仅拥有一个王国已不再足够。总是需要更多。但这些还不是国家——忠诚依然是个人的，而不是对国家这一抽象概念的忠诚。
    </p>
  </div>
  <div class="block en">
    <p>
      The feudal system is at heart simple: give military service to a liege
      lord and in return you gain the income and title to land as his vassal. In
      turn, vassals can give away smaller parcels of land to their followers and
      so on. Those at the top become immensely powerful: they are knights,
      barons, counts, dukes, princes, and monarchs. The peasants at the bottom
      are squeezed to supply the fighting men with the necessities and luxuries
      of life. Great warriors can gain land and followers and become noble
      through warfare, so they have every incentive to fight. If their king
      lacks enemies, they can pick their own foes. If they run out of outsiders,
      they can fight each other. The age of petty warlords may have come to an
      end, but the age of war certainly hasn't! This constant violence may be
      one of the reasons why the Pope will demand a Crusade to the Holy
      Land—perhaps it is better that outsiders suffer rather than fellow
      Christians!
    </p>
  </div>
  <div class="block cn">
    <p>
      封建制度的核心是简单的：向宗主领主提供军事服务，作为回报，你将获得作为其附庸的土地收入和头衔。反过来，附庸可以将较小的土地赠与他们的追随者，依此类推。位于顶端的人变得极其强大：他们是骑士、男爵、伯爵、公爵、王子和君主。底层的农民被榨取，以供给战士们生活的必需品和奢侈品。伟大的战士通过战争获得土地和追随者，进而成为贵族，因此他们有充分的动力去战斗。如果他们的国王缺乏敌人，他们可以选择自己的敌人。如果他们没有外敌，他们可以互相争斗。小战士时代也许已经结束，但战争的时代当然还没有！这种持续的暴力可能是教皇要求发起十字军东征的原因之一——也许让外部敌人受苦总比让基督徒同胞受苦要好！
    </p>
  </div>
  <div class="block en">
    <p>
      Religion is a central feature of life for nearly everyone, but even now
      there are places where paganism still holds sway. The Church fights
      against these old ways, and although the Catholic and Orthodox churches
      have drifted apart, they are both immensely powerful. The Orthodox Church
      is almost an arm of government for the Byzantine Empire, supporting the
      Emperor and doing his bidding. The Catholic Pope, however, claims the
      power to make and break Catholic emperors and kings. This has already
      caused tensions as kings and popes have fought over points of protocol and
      administrative procedure. Kings want to control the Church within their
      lands; the Church claims the authority of God to decide who can be a king
      and is more than willing to excommunicate those who go against it. In the
      face of heretics and infidels, however, Church and royalty are as one.
      Heresy threatens the established order of things; the Muslims seem to
      threaten everything! And fearful people lash out at their perceived
      enemies; they crusade to "rescue" their holy sites from unbelievers.
    </p>
  </div>
  <div class="block cn">
    <p>
      宗教几乎是每个人生活中的中心特征，但即便如此，仍有一些地方异教信仰依然占据主导地位。教会与这些旧习作斗争，尽管天主教和东正教会逐渐分开，但两者都拥有巨大的权力。东正教会几乎是拜占庭帝国的一个政府部门，支持皇帝并执行他的命令。然而，天主教教皇声称有权制造和废除天主教皇帝和国王。这已经导致了紧张局势，因为国王和教皇为礼仪和行政程序的细节而争斗。国王希望控制其领土内的教会；教会声称有上帝的权威来决定谁可以成为国王，并且很乐意将反对者逐出教会。然而，在面对异端和不信者时，教会和王权则是一体的。异端威胁到既定秩序；穆斯林似乎威胁到一切！而恐惧的人们则向他们认为的敌人发起攻击；他们进行十字军东征，以“拯救”他们的圣地不受不信者的侵犯。
    </p>
  </div>
  <div class="block en">
    <p>
      Islam is, perhaps, drawing its breath after headlong expansion, but it
      remains the repository of learning: chemistry, astronomy, mathematics,
      philosophy, theological debate, poetry, music, and high art. In short,
      Islam is the home of civilization. From Cordoba in Spain to Cairo,
      Jerusalem, and Baghdad, the Islamic sultans and khalifah allow their
      subjects a surprising (to outsiders) freedom of worship and they encourage
      learning. But there is no reason to suppose that the so-far irresistible
      march of Islam has stopped, and the Islamic princes are ready to defend
      what is, by right of possession, their land. In the east, the Seljuk Turks
      have ambitions to rule even more of the world.
    </p>
  </div>
  <div class="block cn">
    <p>
      伊斯兰教或许在急速扩张后稍作喘息，但它仍然是知识的宝库：化学、天文学、数学、哲学、神学辩论、诗歌、音乐和高雅艺术。简而言之，伊斯兰是文明的家园。从西班牙的科尔多瓦到开罗、耶路撒冷和巴格达，伊斯兰的苏丹和哈里发赋予他们的臣民令人惊讶（对于外人而言）的宗教自由，并鼓励学习。但没有理由认为迄今为止不可抗拒的伊斯兰扩张已停止，伊斯兰王子们准备捍卫他们拥有的土地。在东方，塞尔柱土耳其人有意统治更广阔的世界。
    </p>
  </div>
  <div class="block en">
    <p>
      In the Byzantine Empire, plots and counterplots, treacheries and
      assassinations go on as they have done for five centuries and more. The
      winner of these internecine struggles sits upon the throne; the losers are
      blinded, castrated, exiled or, in the case of the lucky ones, killed
      outright. "Byzantine" has become a byword for dark and complex intrigue,
      and with good reason. In Constantinople, the Emperors have their own
      motives for wanting aid from the knights of the west, motives that have
      little to do with "rescuing" holy places and much to do with defending
      their own lands and power from the threat from more vigorous peoples.
    </p>
  </div>
  <div class="block cn">
    <p>
      在拜占庭帝国，阴谋与反阴谋、背叛与刺杀持续进行，已经持续了五百多年。这些内部斗争的胜者坐上王位；失败者则被失明、阉割、流放，或在幸运者的情况下被直接杀死。“拜占庭”已成为黑暗而复杂阴谋的代名词，理由充分。在君士坦丁堡，皇帝们希望从西方骑士那里获得援助的动机，与“拯救”圣地几乎无关，而更多的是为了保护他们自己的土地和权力，抵御更有活力的民族的威胁。
    </p>
  </div>
</div>
