<div class="pet-wiki">
  <div class="navigation">
    <w-navigation
      [mode]="eNavigationMode.PET"
      [items]="navigationItems"
      (navigationItemClick)="onNavigationItemClick($event)"
    ></w-navigation>
  </div>
  <div class="details" *ngIf="details">
    <section class="overview">
      <div class="title" [id]="ePetWiKiNavigation.OVERVIEW">概览</div>
      <div *ngIf="properties" class="chart">
        <div class="item">
          <span class="label">品种</span>
          <span class="value">{{ properties.type }}</span>
        </div>
        <div class="item">
          <span class="label">活力</span>
          <span class="value">{{ properties.energy }}</span>
        </div>
        <div class="item">
          <span class="label">脱毛</span>
          <span class="value">{{ properties.shedding }}</span>
        </div>
        <div class="item">
          <span class="label">可训练度</span>
          <span class="value">{{ properties.training }}</span>
        </div>
        <div class="item">
          <span class="label">脾气</span>
          <span class="value">{{ properties.temperament }}</span>
        </div>
        <div class="item">
          <span class="label">体重（成年）</span>
          <span class="value">{{ properties.weight }} kg</span>
        </div>
        <div class="item">
          <span class="label"
            >{{ type === 'cat' ? '长度' : '高度' }}（成年）</span
          >
          <span class="value">{{ properties.height }} cm</span>
        </div>
        <div class="item">
          <span class="label">寿命</span>
          <span class="value">{{ properties.life }} 年</span>
        </div>
      </div>
      <div
        class="content"
        [innerHTML]="details[ePetWiKiNavigation.OVERVIEW]"
      ></div>
    </section>
    <section class="characteristics">
      <div class="title" id="characteristics">特点</div>
      <div
        class="content"
        [innerHTML]="details[ePetWiKiNavigation.CHARACTERISTICS]"
      ></div>
    </section>
    <section class="appearance">
      <div class="title" id="appearance">外形</div>
      <div
        class="content"
        [innerHTML]="details[ePetWiKiNavigation.APPEARANCE]"
      ></div>
    </section>
    <section class="photos">
      <div class="title" id="photos">照片</div>
      <div
        class="content"
        [innerHTML]="details[ePetWiKiNavigation.PHOTOS]"
      ></div>
    </section>
    <section class="temperament">
      <div class="title" id="temperament">个性</div>
      <div
        class="content"
        [innerHTML]="details[ePetWiKiNavigation.TEMPERAMENT]"
      ></div>
    </section>
    <section class="care">
      <div class="title" id="care">照顾</div>
      <div class="content" [innerHTML]="details[ePetWiKiNavigation.CARE]"></div>
    </section>
    <section class="history">
      <div class="title" id="history">起源</div>
      <div
        class="content"
        [innerHTML]="details[ePetWiKiNavigation.HISTORY]"
      ></div>
    </section>
  </div>
</div>
