<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scrape Page</title>
</head>
<body>
<form action="/" method="post">
  <label for="url">Enter URL:</label>
  <input type="text" id="url" name="url">
  <button type="submit">Submit</button>
</form>
{% if data_object %}
<div>
  <p>Title: {{ data_object.title }}</p>
  <p>Publisher: {{ data_object.publisher }}</p>
  <p>Detail: {{ data_object.detail }}</p>
  <p>Views: {{ data_object.views }}</p>
  <p>Date: {{ data_object.date }}</p>
  <p>Source URL: {{ data_object.sourceUrl }}</p>
</div>
{% endif %}
</body>
</html>
