<div class="home">
  <!--    <w-slideshow [icons]="slideImages"></w-slideshow>-->
  <!--
  <section>
    <div class="subtitle">
      必读好文章
    </div>
  </section>
  <section>
    <div class="subtitle">
     优质全面战争UP主推荐
    </div>
  </section>
  -->
  <div style="display: flex; flex-wrap: wrap; justify-content: center">
    <div
      *ngFor="let item of data"
      style="display: flex; margin-right: 12px; margin-bottom: 12px"
    >
      <div
        *ngFor="let file of item.files"
      >
        <img style="width: 60px; height: 80px; object-fit: cover;" [src]="file.heroAvatarPath" [alt]="file.name"
             [title]="file.heroName">
      </div>
    </div>
  </div>
</div>
