<div class="war-school">
  <section>
    <div class="subtitle">
      相关文章
    </div>
    <div class="articles">
      <w-list
        [data]="articles"
        [mode]="eList.ARTICLE"
        (listItemClick)="onListItemClick($event)"
      ></w-list>
    </div>
  </section>
  <section>
    <div class="subtitle">
      相关视频
    </div>
    <div class="cards">
      <ng-container *ngFor="let item of items; let index = index;">
        <w-item-card
          *ngIf="item.typeId === activeTypeId"
          (click)="onCardClick(item)"
          [data]="item"
        ></w-item-card>
      </ng-container>
    </div>
  </section>
</div>
