<div class="static-article">
  <div class="block en">
    <p>
      Hemmed in by other factions, the Italians need to choose their enemies
      with care. While the lands of the Papacy may seem like tempting targets on
      the way to uniting the Italian peninsula, the unique status of the Papacy
      itself makes it an almost-impossible opponent to completely eradicate.
    </p>
  </div>
  <div class="block cn">
    <p>
      被其他势力包围，意大利人需要小心选择敌人。虽然教皇的土地在统一意大利半岛的过程中似乎是诱人的目标，但教皇本身的独特地位使其成为几乎不可能完全消灭的对手。
    </p>
  </div>
  <div class="block en">
    <p>
      The Italians have only one exclusive unit, Italian Light Infantry, but
      they are one of the two factions that can eventually train Gothic Knights
      and Gothic Sergeants - among the most effective units available to western
      Christian factions. They also have the potential to train superior
      handgunners and arquebusiers, and in Tuscany at least to train Urban
      Militia of a higher than average standard.
    </p>
  </div>
  <div class="block cn">
    <p>
      意大利人只有一个专属单位：意大利轻步兵，但他们是能够最终训练哥特骑士和哥特军士的两个势力之一——这些单位在西方基督教势力中非常有效。他们还有潜力训练更优秀的火枪手和火绳枪手，至少在托斯卡纳地区可以训练出高于平均水平的城市民兵。
    </p>
  </div>
  <div class="block en">
    <p>
      The Italians are blessed with rich lands, industry, and wealth from trade
      besides. Much of Europe's wealth flows into Italy and the coffers of the
      Pope, and much of his wealth then flows out into the hands of Italian
      merchants.
    </p>
  </div>
  <div class="block cn">
    <p>
      意大利人拥有富饶的土地、工业以及来自贸易的财富。欧洲的大部分财富流入意大利和教皇的金库，教皇的财富又流向意大利商人手中。
    </p>
  </div>
  <div class="block en">
    <p>
      All of this gives Italy's rulers a chance to become great, for as the
      Roman writer Cicero put it: "nervos belli, pecuniam infinitam" (the sinews
      of war, unlimited money). They are also blessed with a warlike and
      adventurous nature, which can make them a difficult people to rule at
      times.
    </p>
  </div>
  <div class="block cn">
    <p>
      所有这些都给意大利的统治者提供了成就伟大的机会，正如罗马作家西塞罗所说：“nervos
      belli, pecuniam
      infinitam”（战争的筋脉，无限的金钱）。他们也天生具有好斗和冒险的性格，这使得他们在某些时候成为难以统治的人民。
    </p>
  </div>
  <div class="block en">
    <p>
      Opportunities come in many guises for a bold Italian ruler. To the
      northwest, the French hold on their southern provinces is not always as
      secure as the northern French kings would wish; religious and secular
      differences can mean that France has problems with its own people even
      while it is struggling against English expansionism.
    </p>
  </div>
  <div class="block cn">
    <p>
      对于一位大胆的意大利统治者来说，机会有多种表现形式。在西北方向，法国对其南部省份的控制并不总是像北方的法国国王所希望的那样稳固；宗教和世俗的差异可能意味着法国在与英格兰扩张斗争的同时，也与本国人民产生问题。
    </p>
  </div>
  <div class="block en">
    <p>
      To the north, Imperial power can slip or fail. To the east, the Balkans
      can be a tempting potential empire for Italy. And there is always the
      prospect of becoming a naval power. Perhaps, in the long term, domination
      of the Mediterranean offers the best chance of Italian supremacy.
    </p>
  </div>
  <div class="block cn">
    <p>
      在北方，帝国的力量可能会滑落或失败。在东面，巴尔干可以成为意大利一个诱人的潜在帝国。而且总是有成为海洋强国的可能性。或许，从长远来看，统治地中海提供了意大利达到至高无上的最佳机会。
    </p>
  </div>
  <div class="block en">
    <p>
      True, the great powers of the Byzantine Empire and the Islamic kingdoms
      will have to be challenged for naval and mercantile supremacy. With the
      wealth of Mediterranean trade at his disposal and his home provinces
      secured, any Italian ruler should be able to expand his holdings.
    </p>
  </div>
  <div class="block cn">
    <p>
      诚然，拜占庭帝国和伊斯兰王国的大国将不得不挑战海洋和商业的霸权。凭借地中海贸易的财富和稳固的家乡省份，任何意大利统治者都应该能够扩展其领地。
    </p>
  </div>
  <div class="block en">
    <p>
      All of these strategies have their risks. The same wealth that helps Italy
      also makes it an attractive target to others. Both the French King and the
      Emperor may not be able to resist meddling in Italy, or even mounting a
      full-scale invasion.
    </p>
  </div>
  <div class="block cn">
    <p>
      所有这些策略都有其风险。帮助意大利的财富也使其成为其他势力的诱人目标。法国国王和皇帝都可能无法抵制干预意大利，甚至发动全面入侵的诱惑。
    </p>
  </div>
  <div class="block en">
    <p>
      Competing at sea means taking power that the Byzantines may consider to be
      rightfully theirs, or may weaken the Byzantines so that they no longer
      form a bulwark against future Islamic expansion. But if Italy benefits
      from all these machinations and from a Crusade or two...
    </p>
  </div>
  <div class="block cn">
    <p>
      在海上竞争意味着夺取拜占庭人可能认为理应属于他们的权力，或者可能削弱拜占庭，使其不再成为抵御未来伊斯兰扩张的堡垒。但是，如果意大利能从所有这些阴谋和几次十字军东征中获益……
    </p>
  </div>
</div>
