<div class="photo">
    <!--
    <nav class="photo__nav">
        <span>all</span>
        <span>beauty</span>
        <span>animal</span>
        <span>build</span>
        <span>landscape</span>
    </nav>
    -->
    <div class="photo__container">
        <div class="photo__container__column">
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/e868b837-8367-44a3-9ead-fe3b8dc9fd61/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/e868b837-8367-44a3-9ead-fe3b8dc9fd61/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/e868b837-8367-44a3-9ead-fe3b8dc9fd61/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/e868b837-8367-44a3-9ead-fe3b8dc9fd61/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
        </div>
        <div class="photo__container__column">
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/e868b837-8367-44a3-9ead-fe3b8dc9fd61/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/e868b837-8367-44a3-9ead-fe3b8dc9fd61/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/e868b837-8367-44a3-9ead-fe3b8dc9fd61/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/e868b837-8367-44a3-9ead-fe3b8dc9fd61/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
        </div>
        <div class="photo__container__column">
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/e868b837-8367-44a3-9ead-fe3b8dc9fd61/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/e868b837-8367-44a3-9ead-fe3b8dc9fd61/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/e868b837-8367-44a3-9ead-fe3b8dc9fd61/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/e868b837-8367-44a3-9ead-fe3b8dc9fd61/0_0.webp"
                alt=""
            />
            <img
                class="img"
                src="https://cdn.midjourney.com/2b2fc2b3-a75d-472c-8db5-efaa051ed83e/0_0.webp"
                alt=""
            />
        </div>
    </div>
</div>