@import "apps/management/src/app/shared/styles/table.scss";

.good {
  @extend #table;

  .table-container {
    width: 1200px;
    //height: 500px;
    margin: 0 auto;

    &__tools {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;

      .search {
        display: flex;

        input, select {
          border: 1px solid #333333;
        }

        .search-button {
          margin-left: 6px;
          text-decoration: underline;

          &:hover {
            color: orangered;
          }
        }
      }
    }

    table {
      button {
        margin-right: 12px;
        cursor: pointer;
        text-decoration: underline;

        &:hover {
          color: orangered;
        }
      }
    }
  }
}

.add-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  color: #FFFFFF;

  &__container {
    width: 1200px;
    margin: 0 auto;

    label {
      display: inline-block;
      width: 120px;
      margin-right: 12px;
    }

    input {
      width: 360px;
      color: #000000;
    }

    .form-items {
      margin-top: 12px;
    }

    .submit-buttons {
      margin-top: 12px;
    }
  }
}
