<header class="wei-header">
    <div class="wei-header__left">
        <!-- 左边的内容 -->
        <img class="logo" src="assets/images/logo.png" alt="Logo">
    </div>
    <div class="wei-header__center">
        <!-- 中间的内容 -->
        <h1 class="wei-header__title">{{ title }}</h1>
    </div>
    <div class="wei-header__right">
        <!-- 右边的内容 -->
        <div class="wei-header__user">
            <img class="avatar" src="assets/images/user-avatar.png" alt="User Avatar">
            <span class="wei-header__username">{{ username }}</span>
        </div>
    </div>
</header>
