<div class="on-sale">
  <div style="margin-bottom: 12px">
    <w-navigation
      [mode]="eNavigationMode.PET"
      [items]="navigationItems"
      (navigationItemClick)="onNavigationItemClick($event)"
    ></w-navigation>
  </div>
  <div class="tag-container">
    <w-tag-selector
      [visibleTagCount]="15"
      [mode]="eTagSelector.PET"
      [tags]="tags"
      (tagSelected)="onTagSelect($event)"
    ></w-tag-selector>
  </div>
  <div *ngIf="activeTag.description" class="description">
    <div class="text">{{ activeTag.description }}</div>
    <div class="button-more" (click)="onMoreClick()">
      查看详细 <span>{{ activeTag.name }}</span> 的详细资料
    </div>
  </div>
  <pet-gallery [data]="data" (itemClick)="onItemClick($event)"></pet-gallery>
</div>
