<div class="w-app">
  <w-banner (click)="onBannerClick()" [data]="appConfig.banner"></w-banner>
  <div class="page">
    <div class="img-list">
      <div
        *ngFor="let item of data"
        class="img-container"
        (click)="onListItemClick(item)"
      >
        <img
          class="pic"
          [src]="appConfig.fileServer + item.imageUrl + '/pic.jpg'"
          alt=""
        />
        <img
          class="gif"
          [src]="appConfig.fileServer + item.imageUrl + '/min.gif'"
          alt=""
        />
      </div>
    </div>
    <div class="load-more" (click)="loadMore()">
      加载更多 已加载 {{ data.length }} / {{ total }}
    </div>
  </div>
</div>
