<div class="static-article">
  <div class="block en">
    <p>
      In the early period of the game, the Byzantine Empire is in its strongest
      position, and in later starting periods, the overall situation will never
      again be as favorable for a Byzantine commander. The Empire is large, owns
      potentially rich lands, and has other sources of wealth close by.
    </p>
  </div>
  <div class="block cn">
    <p>
      在游戏的早期阶段，拜占庭帝国处于最强大的位置，在后来的起始阶段，整体形势再也不会对拜占庭指挥官如此有利。帝国广袤，拥有潜在的富饶土地，且附近还有其他财富来源。
    </p>
  </div>
  <div class="block en">
    <p>
      The Empire can soon develop a strong economy in Constantinople, but its
      military forces are thinly spread, and training facilities are completely
      centralized and therefore slow to create a large number of military units.
      The Empire can afford to create a strong army, but this can take time that
      may not be available!
    </p>
  </div>
  <div class="block cn">
    <p>
      帝国很快就能在君士坦丁堡发展强大的经济，但其军事力量分布较散，训练设施完全集中，因此培养大量军事单位的速度较慢。帝国有能力组建一支强大的军队，但这可能需要的时间并不总是充裕！
    </p>
  </div>
  <div class="block en">
    <p>
      All that said, the Byzantine army has access to more exclusive units than
      any other Christian kingdom, including the supremely heavy Kataphraktoi
      cavalry. Any Byzantine commander must also give serious consideration to
      developing a taste for bribery, espionage, and murder if the military
      options are not ruthlessly pursued.
    </p>
  </div>
  <div class="block cn">
    <p>
      话虽如此，拜占庭军队可以获得比任何其他基督教王国都更多的独特单位，包括极为重型的重骑兵卡塔弗拉克托伊。如果军事选项没有被无情追求，任何拜占庭指挥官都必须认真考虑发展贿赂、间谍和谋杀的手段。
    </p>
  </div>
  <div class="block en">
    <p>
      The Byzantine Empire is the child of the Roman Empire, or rather the
      Greek-speaking eastern half of the Roman Empire. It has always been a
      power in the world, ruled by despots and assassins, fools and wise men,
      poets and generals - all combining religious and political authority in
      one man.
    </p>
  </div>
  <div class="block cn">
    <p>
      拜占庭帝国是罗马帝国的后裔，或者说是罗马帝国希腊语地区的东半部。它一直是世界上的一股力量，统治者包括专制者和刺客、傻瓜和智者、诗人和将军——所有这些角色都将宗教和政治权威结合于一身。
    </p>
  </div>
  <div class="block en">
    <p>
      That it has survived and even prospered is a tribute to its underlying
      strengths and the luck of the Empire's position at the crossroads of the
      world. Almost no trade moves east or west without making Byzantium richer
      and filling the Emperor's coffers with taxes.
    </p>
  </div>
  <div class="block cn">
    <p>
      它能够生存并繁荣，归功于其深厚的实力以及帝国处于世界十字路口的运气。几乎没有一笔贸易东移或西渡，而不使拜占庭更加富裕，并为皇帝的金库注入税收。
    </p>
  </div>
  <div class="block en">
    <p>
      This wealth and the heavy tolls needed to sustain the Imperial court can
      be a cause of envy and resentment from other peoples.
    </p>
  </div>
  <div class="block cn">
    <p>
      这种财富以及维持帝国宫廷所需的高额费用可能会引起其他民族的嫉妒和怨恨。
    </p>
  </div>
  <div class="block en">
    <p>
      Constantinople or Byzantium was founded as the second Rome by Constantine
      the Great, and is the greatest city in Europe and may be the greatest in
      the world. Its walls are impregnable, its armies fearsome, its people
      impossibly wealthy and cultured.
    </p>
  </div>
  <div class="block cn">
    <p>
      君士坦丁堡或拜占庭由大帝君士坦丁建立为第二罗马，是欧洲最大的城市，可能也是世界上最大的城市。它的城墙坚不可摧，军队可怕，人民极其富有且文化底蕴深厚。
    </p>
  </div>
  <div class="block en">
    <p>
      Byzantine coinage effortlessly dominates the world of trade and can be
      used to buy goods the world over. In matters of religion, the Byzantine
      patriarchs are unwilling to recognize the Papacy's claim to superior
      status, as the schism between the Orthodox and Catholic halves of
      Christianity goes unhealed.
    </p>
  </div>
  <div class="block cn">
    <p>
      拜占庭的货币在贸易世界中轻而易举地占据主导地位，可以用来购买世界各地的商品。在宗教事务上，拜占庭的宗主教不愿承认教皇的优越地位，因为东正教和天主教之间的分裂始终没有得到修复。
    </p>
  </div>
  <div class="block en">
    <p>
      Byzantium, however, does face problems, yet within those problems could be
      opportunities for further greatness. The Empire has had a measure of
      security thanks to the skills of its mercenary armies, and has held on to
      many of its ancient frontiers even in the face of Islamic expansion.
    </p>
  </div>
  <div class="block cn">
    <p>
      然而，拜占庭确实面临一些问题，但在这些问题中也可能蕴藏着进一步伟大的机会。由于雇佣军的技能，帝国在一定程度上保持了安全，甚至在面对伊斯兰扩张时也坚持了许多古老的边界。
    </p>
  </div>
  <div class="block en">
    <p>
      Now, while the troops remain as good as ever, a new threat has arisen in
      the East. A good Emperor will need to concentrate much of his military
      might - including the fearsome kataphraktoi against the emerging threat of
      the Seljuk Turks.
    </p>
  </div>
  <div class="block cn">
    <p>
      如今，虽然部队依旧优秀，但东部出现了新的威胁。一位优秀的皇帝需要集中大部分军事力量——包括可怕的重骑兵卡塔弗拉克托伊，来对抗塞尔柱土耳其人带来的新威胁。
    </p>
  </div>
  <div class="block en">
    <p>
      At the same time, he must also be aware of other opportunities: the
      Balkans, the Holy Land, and North Africa. A maritime strategy controlling
      the Mediterranean can pay dividends.
    </p>
  </div>
  <div class="block cn">
    <p>
      与此同时，他还必须关注其他机会：巴尔干半岛、圣地和北非。控制地中海的海洋战略将带来丰厚的回报。
    </p>
  </div>
  <div class="block en">
    <p>
      Finding common cause with one of the Catholic princes of the west is also,
      for example, a viable strategy, as neither side will necessarily want to
      eventually conquer the same territory.
    </p>
  </div>
  <div class="block cn">
    <p>
      与西方的某位天主教王子找到共同利益同样是一个可行的策略，因为双方未必希望最终征服相同的领土。
    </p>
  </div>
  <div class="block en">
    <p>
      And an Emperor who can harness the power of western Crusaders can also
      profit from their work in weakening his enemies.
    </p>
  </div>
  <div class="block cn">
    <p>而能够利用西方十字军力量的皇帝也可以从他们削弱敌人的工作中获利。</p>
  </div>
</div>
