<div class="static-article">
  <div class="block en">
    <p>
      The Kingdom of Aragon was born out of the wars fought by Christian rulers
      to drive the Moors out of Spain. It is one of a number of fervently
      Catholic kingdoms squabbling over the reconquered lands and hoping to lead
      Spain into a new era.
    </p>
  </div>
  <div class="block cn">
    <p>
      阿拉贡王国是在基督教统治者驱逐摩尔人出西班牙的战争中诞生的。它是众多热情天主教王国之一，这些王国在重新夺回的土地上争吵，希望将西班牙引领进入一个新纪元。
    </p>
  </div>
  <div class="block en">
    <p>
      Although the Reconquista is well under way and Aragon has enjoyed some
      fifty years of independence, the future is far from certain. Navarre and
      the Castilian Spanish to the west are strong potential rivals, and the
      Moors still hold much of Spain beyond Aragon's southern border. Whoever
      wishes to dominate Spain must contend with all of these.
    </p>
  </div>
  <div class="block cn">
    <p>
      尽管收复失地运动已经进行得相当顺利，阿拉贡享有大约五十年的独立，未来依然充满不确定性。西方的纳瓦尔和卡斯蒂利亚西班牙是强有力的潜在竞争对手，而摩尔人仍然控制着阿拉贡南部边界以外的大部分西班牙。任何希望统治西班牙的人都必须应对这些挑战。
    </p>
  </div>
  <div class="block en">
    <p>
      Whoever controls the throne of Aragon must consider the need for Christian
      unity to drive out the Moors alongside the knowledge that other royal
      houses - the Spanish in Castile - have designs on a unified Spain. Aragon
      may be seen as an obstacle to that goal, not an ally or a natural leader.
    </p>
  </div>
  <div class="block cn">
    <p>
      控制阿拉贡王座的人必须考虑到基督教团结驱逐摩尔人的必要性，同时也要意识到其他王室—如卡斯蒂利亚的西班牙—对统一西班牙的野心。阿拉贡可能被视为实现这一目标的障碍，而非盟友或自然领袖。
    </p>
  </div>
  <div class="block en">
    <p>
      At various times, some of these factions have even been known to ally with
      the Moors against fellow Christians! Aragon's future will only be secure
      once all threats have been neutralized, and no organised rivals remain in
      Spain.
    </p>
  </div>
  <div class="block cn">
    <p>
      在某些时候，这些派系甚至被认为会与摩尔人结盟，反对其他基督徒！只有当所有威胁被消除，西班牙境内没有有组织的竞争对手时，阿拉贡的未来才能得到保障。
    </p>
  </div>
  <div class="block en">
    <p>
      There are many options open to Aragon. Over the Pyrenees, France and
      England are contending for control, and the provinces of Toulouse and
      Provence need not become attached to the French throne.
    </p>
  </div>
  <div class="block cn">
    <p>
      阿拉贡有许多选择。在比利牛斯山脉以北，法国和英格兰正在争夺控制权，图卢兹和普罗旺斯的省份并不一定要附属于法国王座。
    </p>
  </div>
  <div class="block en">
    <p>
      To the south, the independent province of Valencia may be open to bribery:
      El Cid, one of the greatest generals ever to lead an army in Spain,
      controls the area. Navarre also offers intriguing possibilities, as its
      iron resources allow the creation of well-armed troops.
    </p>
  </div>
  <div class="block cn">
    <p>
      在南方，独立的瓦伦西亚省可能会受到贿赂的影响：埃尔·西德，历史上最伟大的西班牙将领之一，控制着该地区。纳瓦尔也提供了诱人的机会，因为它的铁矿资源可以造出装备精良的军队。
    </p>
  </div>
  <div class="block en">
    <p>
      Sooner or later, however, an Aragonese leader will have to take arms
      against his fellow Christians and this will cause problems with the
      Papacy.
    </p>
  </div>
  <div class="block cn">
    <p>
      然而，迟早阿拉贡的领导者必须对抗自己的基督徒同胞，这将导致与教皇之间的矛盾。
    </p>
  </div>
</div>
