@import "libs/shared/ui/src/styles/loaders/loaders.scss";

.w-app {
  min-width: 290px;
  height: 100vh;
  background: linear-gradient(180deg, #2A475E 0%, #1B2838 80%);
  overflow: scroll;
  color: #d8d8d8;

  .page {
    max-width: 940px;
    margin: 24px auto 0;
    padding: 0 12px;
  }
}

.img-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;

  .img-container {
    cursor: pointer;
    position: relative; // 保持加载动画和图片的定位一致

    .pic, .gif {
      width: 120px;
      height: 120px;
      object-fit: contain;
      background: #0d0d0d;
    }

    .pic {
      display: block;
    }

    .gif {
      display: none;
    }

    .loading {
      width: 120px;
      height: 120px;
      background: #0d0d0d;
      position: absolute;
    }

    &:hover {
      .pic {
        display: none;
      }

      .gif {
        display: block;
      }
    }
  }
}

.load-more {
  box-sizing: border-box;
  width: fit-content;
  margin: 12px auto;
  padding: 6px 24px;
  color: #888888;
  border: 1px solid #9b9b9b;
  cursor: pointer;

  &:hover {
    color: #ffffff;
    border-color: #ffffff;
  }
}
