<div class="static-article">
  <div class="block en">
    <p>
      The French position is not an easy one, as they are hemmed in by both the
      English and the Holy Roman Empire, and winning as the French requires not
      only hanging on to what is already French, but aggressive conquest too.
    </p>
  </div>
  <div class="block cn">
    <p>
      法国的局势并不轻松，他们被英格兰和神圣罗马帝国夹击，作为法国人获胜不仅需要保住已经属于法国的领土，还需要进行积极的征服。
    </p>
  </div>
  <div class="block en">
    <p>
      French armies have no exclusively French specialist troops, so they are
      slightly disadvantaged in this respect. They do (eventually) have an
      advantage when training Chivalric Knights (especially in Toulouse), giving
      them some of the finest (if sometimes wayward and impetuous) heavy cavalry
      in the world. French crossbowmen are also better than average.
    </p>
  </div>
  <div class="block cn">
    <p>
      法国军队没有专门的法国特种部队，因此在这一点上稍显劣势。不过，他们在训练骑士（尤其是在图卢兹）时拥有优势，这使他们拥有一些世界上最优秀的重骑兵（尽管有时有些放纵和急躁）。法国的弩兵也优于平均水平。
    </p>
  </div>
  <div class="block en">
    <p>
      At first glance, the position of the French King looks unenviable. His
      centre of power around Paris and the Ile-de-France looks small and
      vulnerable, and the great nobles often openly flout his authority.
    </p>
  </div>
  <div class="block cn">
    <p>
      乍一看，法国国王的地位似乎不堪重负。他在巴黎及法兰西岛周围的权力中心显得渺小而脆弱，大贵族们常常公然藐视他的权威。
    </p>
  </div>
  <div class="block en">
    <p>
      That these great nobles also nominally include the King of England is no
      comfort either. In French eyes, the English Kings may be vassals in
      France, but in fact they act like unwelcome masters in much of the land.
    </p>
  </div>
  <div class="block cn">
    <p>
      这些大贵族名义上还包括英格兰国王，这一点并没有带来安慰。在法国人看来，英王在法国可能是附庸，但实际上，他们在很多土地上表现得像不受欢迎的主人。
    </p>
  </div>
  <div class="block en">
    <p>
      The King of France has no real authority in what should be his own domain
      where the English are concerned. Sooner or later, this problem will have
      to be addressed and settled once and for all.
    </p>
  </div>
  <div class="block cn">
    <p>
      在英格兰问题上，法国国王在本应属于自己的领土上没有真正的权威。迟早，这个问题必须得到解决和彻底解决。
    </p>
  </div>
  <div class="block en">
    <p>
      Until then, France must contend with a potentially aggressive neighbour to
      the north, the Holy Roman Empire to the east, the relatively weak
      Christian kingdoms of Spain to the south, and Italy.
    </p>
  </div>
  <div class="block cn">
    <p>
      在此之前，法国必须面对来自北方的潜在侵略邻国、东边的神圣罗马帝国、南方相对较弱的基督教王国西班牙和意大利。
    </p>
  </div>
  <div class="block en">
    <p>
      After the English, the Holy Roman Empire is the greatest rival,
      particularly if the Emperor harbours ambitions of conquering Italy. If
      possible, expansion into northern Italy represents a good way of securing
      French glory and thwarts Imperial ambitions.
    </p>
  </div>
  <div class="block cn">
    <p>
      在英格兰之后，神圣罗马帝国是最大的对手，特别是如果皇帝怀有征服意大利的野心。如果可能，向北意大利扩张是确保法国荣耀并阻止帝国野心的良好方式。
    </p>
  </div>
  <div class="block en">
    <p>
      This is particularly true if relations with the Catholic Church become
      strained. A French army in Rome is a powerful argument when dealing with
      the Papacy, but provokes religious discontent by its presence.
    </p>
  </div>
  <div class="block cn">
    <p>
      如果与天主教会的关系紧张，这一点尤为正确。驻扎在罗马的法国军队在与教皇的交涉中是有力的论据，但也因其存在而引发宗教不满。
    </p>
  </div>
  <div class="block en">
    <p>
      If all this paints a bleak picture of French prospects, things are not
      quite as bad as they appear. France is a very rich country and can have
      more-than-ample resources to draw upon.
    </p>
  </div>
  <div class="block cn">
    <p>
      如果这一切描绘出法国前景的阴暗面，事情并没有看上去那么糟糕。法国是一个非常富裕的国家，可以拥有充足的资源可供利用。
    </p>
  </div>
  <div class="block en">
    <p>
      Once the French king has spent wisely and secured his heartlands, an enemy
      could have a difficult time in taking them, especially against the flower
      of French knighthood.
    </p>
  </div>
  <div class="block cn">
    <p>
      一旦法国国王明智地支配资源并巩固了他的心腹之地，敌人将很难攻占这些地方，尤其是面对法国骑士的精英。
    </p>
  </div>
  <div class="block en">
    <p>
      And when waging a war of aggression, France has the same advantages: in
      honour and nobility, those same French knights are the envy of the world!
    </p>
  </div>
  <div class="block cn">
    <p>
      在进行侵略战争时，法国同样拥有这些优势：在荣耀和高贵方面，这些法国骑士是世界的羡慕对象！
    </p>
  </div>
  <div class="block en">
    <p>
      Above all, France must avoid expansion (and therefore warfare) in too many
      places at the same time. War against the English must not allow the Empire
      to nibble away at French possessions, and vice versa.
    </p>
  </div>
  <div class="block cn">
    <p>
      最重要的是，法国必须避免在过多地方同时扩张（因此引发战争）。与英格兰的战争不能让帝国蚕食法国的领土，反之亦然。
    </p>
  </div>
  <div class="block en">
    <p>
      France has the power to prosper mightily, but only when this power is used
      carefully.
    </p>
  </div>
  <div class="block cn">
    <p>法国有能力强大繁荣，但只有在谨慎使用这些力量时才能实现。</p>
  </div>
</div>
