<div class="item-card">
  <div class="toolbar">
    <button style="" (click)="downloadItemCardsAsJson()">下载全部文章数据</button>
    <button style="margin-left: 8px" (click)="uploadByArticlesMap()">上传所有的文章数据</button>
    <div style="display: flex; margin-left: 8px">
      <select style="" [(ngModel)]="selectedColumn">
        <option *ngFor="let column of columns" [value]="column">{{ column }}</option>
      </select>
      <input style="margin-left: 6px" type="text" [(ngModel)]="searchKeyword" (keydown.enter)="search()">
      <button style="margin-left: 6px" (click)="search()">搜索</button>
    </div>
  </div>
  <div class="table-container">
    <table>
      <thead>
      <tr>
        <th>Publisher</th>
        <th>Title</th>
        <th>Type ID</th>
        <th>Source URL</th>
        <!--      <th>ID</th>-->
        <!--      <th>Image URL</th>-->
        <!--      <th>Views</th>-->
        <!--      <th>Description</th>-->
        <!--      <th>Date</th>-->
        <!--      <th>Detail</th>-->
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let itemCard of itemCards"
        (click)="onItemClick(itemCard)"
      >
        <td>{{ itemCard.publisher }}</td>
        <td>{{ itemCard.title }}</td>
        <td>{{ itemCard.typeId }}</td>
        <td>{{ itemCard.sourceUrl }}</td>
        <!--      <td>{{ itemCard.id }}</td>-->
        <!--      <td>{{ itemCard.imageUrl }}</td>-->
        <!--      <td>{{ itemCard.views }}</td>-->
        <!--      <td>{{ itemCard.description }}</td>-->
        <!--      <td>{{ itemCard.date }}</td>-->
        <!--      <td>{{ itemCard.detail }}</td>-->
      </tr>
      </tbody>
    </table>
  </div>
  <div style="margin-top: 6px">
    <w-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (pageChange)="onPageChange($event)"
    ></w-pagination>
  </div>

  <!-- 详情模块 -->
  <div class="table-item-detail" *ngIf="selectedItemDetail">
    <img *ngIf="selectedItemDetail.imageUrl" [src]="selectedItemDetail.imageUrl" alt="">
    <h4>{{ selectedItemDetail.title }} - Detail</h4>
    <p>Publisher: {{ selectedItemDetail.publisher }}</p>
    <p>Type ID: {{ selectedItemDetail.typeId }}</p>
    <p>Source URL: {{ selectedItemDetail.sourceUrl }}</p>
    <!-- 其他详情属性 -->

    <!-- 显示JSON字符串 -->
    <div *ngIf="selectedItemJson">
      <h4>JSON Data</h4>
      <pre>{{ selectedItemJson }}</pre>
    </div>

    <!-- 删除按钮 -->
    <button (click)="onDelete(selectedItemDetail.id)">删除</button>
  </div>

  <div class="create-form">
    <h2>Add Item Card 新建项目</h2>
    <form (submit)="onSubmit()">
      <label for="typeId">Type ID:</label>
      <input type="text" id="typeId" name="typeId" [(ngModel)]="addItemCard.typeId" required>

      <label for="imageUrl">Image URL:</label>
      <input type="text" id="imageUrl" name="imageUrl" [(ngModel)]="addItemCard.imageUrl" required>

      <label for="sourceUrl">Source URL:</label>
      <input type="text" id="sourceUrl" name="sourceUrl" [(ngModel)]="addItemCard.sourceUrl" required>

      <label for="title">Title:</label>
      <input type="text" id="title" name="title" [(ngModel)]="addItemCard.title" required>

      <label for="views">Views:</label>
      <input type="number" id="views" name="views" [(ngModel)]="addItemCard.views" required>

      <label for="description">Description:</label>
      <textarea id="description" name="description" [(ngModel)]="addItemCard.description" required></textarea>

      <label for="publisher">Publisher:</label>
      <input type="text" id="publisher" name="publisher" [(ngModel)]="addItemCard.publisher" required>

      <label for="publisher">Tag IDs:</label>
      <input type="text" id="tagIds" name="tagIds" [(ngModel)]="addItemCard.tagIds" required>

      <label for="date">Date:</label>
      <input type="text" id="date" name="date" [(ngModel)]="addItemCard.date" required>

      <label for="detail">Detail:</label>
      <textarea id="detail" name="detail" [(ngModel)]="addItemCard.detail" required></textarea>

      <button type="submit">Submit</button>
    </form>
  </div>
</div>
