@import "apps/management/src/app/shared/styles/form.scss";
@import "apps/management/src/app/shared/styles/table.scss";

.item-card {
  @extend #table;
  @extend #form;

  input, button, select {
    height: 20px;
  }

  .toolbar {
    display: flex;
    margin-bottom: 12px;
  }

  .table-container {
    width: 1200px;
    height: 600px;
    overflow: scroll;
  }

  .table-item-detail {
    box-sizing: border-box;
    position: relative;
    width: 1200px;
    margin-top: 6px;
    padding: 12px;
    border: 1px solid #dbdbdb;
    font-size: 13px;
    overflow-x: scroll;

    h4 {
      font-size: 14px;
      margin-bottom: 8px;
    }

    p {
      margin-bottom: 4px;
    }
  }

  .create-form {
    input, textarea {
      width: 400px;
    }
  }
}
