.service {
  width: 100%;
  padding-top: 12px;

  &__row {
    width: 640px;
    margin: 0 auto 16px;
    display: flex;
    justify-content: space-between;

    .item {
      cursor: pointer;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 150px;
      border: 1px solid #535353;
      border-radius: 6px;

      .title {
        color: #535353;
        font-size: 20px;
      }

      &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

        .title {
          color: #0e4965;
        }
      }
    }
  }
}
