<div class="service">
  <div class="service__row">
    <div class="item">
      <img src="assets/images/icons/shower.png" alt="" />
      <div class="title">洗澡</div>
    </div>
    <div class="item">
      <img src="assets/images/icons/shower.png" alt="" />
      <div class="title">美容</div>
    </div>
    <div class="item">
      <img src="assets/images/icons/shower.png" alt="" />
      <div class="title">医疗</div>
    </div>
    <div class="item">
      <img src="assets/images/icons/shower.png" alt="" />
      <div class="title">代喂</div>
    </div>
  </div>
  <div class="service__row">
    <div class="item">
      <img src="assets/images/icons/shower.png" alt="" />
      <div class="title">陪护</div>
    </div>
    <div class="item">
      <img src="assets/images/icons/shower.png" alt="" />
      <div class="title">训练</div>
    </div>
    <div class="item">
      <img src="assets/images/icons/shower.png" alt="" />
      <div class="title">寄养</div>
    </div>
    <div class="item">
      <img src="assets/images/icons/shower.png" alt="" />
      <div class="title">比赛</div>
    </div>
  </div>
</div>
