.hotkeys {
  section {
    margin-bottom: 20px;

    h2 {
      color: #fcfcbd;
      margin-bottom: 12px;
    }

    p {
      margin-bottom: 12px;
    }

    strong {
      display: inline-block;
      color: #b3eee0;
      font-weight: normal;
      padding-bottom: 2px;
      margin-bottom: 4px;
      border-bottom: 1px solid #b3eee0;
    }
  }
}
