<div class="hotkeys">
  <section>
    <h2>战役地图</h2>
    <p>
      <strong>地图状态</strong><br />
      V - 显示海域状态。绿色表示航运畅通，红色表示该区域被封锁。<br />
      Shift -
      显示省份忠诚度。红色表示忠诚度低于80%，叛乱迫在眉睫。蓝色。黄色表示忠诚度在100%到120%之间。绿色表示忠诚度在120%或以上。<br />
      C - 切换地图上的城堡模型。
    </p>

    <p>
      <strong>相机控制</strong><br />
      上/下/左/右箭头 - 移动相机。<br />
      鼠标滚轮 - 放大或缩小。<br />
      Numpad 1 - 放大。<br />
      Numpad 3 - 缩小。
    </p>

    <p>
      <strong>单位操作</strong><br />
      M - 如果选择了一个省份，则合并军队。如果选择了一个军队堆，则合并单位。<br />
      Ctrl+A - 在营地地图上选择单位评审面板中的所有单位。<br />
    </p>

    <p>
      <strong>进度</strong><br />
      Enter - 结束年度。<br />
      Escape - 打开主菜单，用于保存游戏、重新加载保存的游戏、退出等。<br />
      Space - 跳过回合结束报告。<br />
      A（带 -ian 命令行开关设置） - 自动运行战役。
    </p>
  </section>
  <section>
    <h2>战斗地图</h2>
    <p>
      P - 暂停战斗。<br />
      G - 组合所选单位。<br />
      Backspace - 停止（取消给定命令）。
    </p>

    <p>
      <strong>单位阵型命令</strong><br />
      R - 集结。<br />
      C - 紧密阵型。<br />
      L - 松散阵型。<br />
      W - 锥形阵型。<br />
      S - 轻骑兵模式（适用于轻骑兵部队）。<br />
      F - 保持阵型。<br />
      E - 自由接战。<br />
      H - 固定位置。<br />
      A - 自由射击（适用于轻骑兵部队），切换？
    </p>

    <p>
      Ctrl+W - 从战斗中撤退单位。<br />
      Ctrl+R - 潜逃。
    </p>

    <p>
      <strong>单位移动与攻击</strong><br />
      左键单击 -
      选择单位。如果已选择单位，则将该单位移动到单击的地点。如果单击敌方单位，则攻击该单位或射击该单位。<br />
      左键双击 - 让所选单位奔跑到单击的位置，或奔向单击的敌方单位。<br />
      Alt+左键单击 -
      如果选择了导弹单位，这将使他们用次要（近战）武器攻击单击的敌方单位。<br />
      Shift+左键单击 - 为单位移动设置航点。<br />
      Shift+左键双击 - 以奔跑方式为单位设置航点。<br />
      Alt+右键单击 - 改变部队的朝向。<br />
      多个单位被选中并且 Alt+右键单击 - 在保持阵型的同时改变所有单位的朝向。<br />
      多个单位被选中并且 Alt+左键单击 -
      在保持阵型、间距等的情况下移动所有单位。<br />
      Escape - 取消单位拖动操作。<br />
      Space - 显示所有单位的命令位置/朝向。
    </p>

    <p>
      <strong>相机控制</strong><br />
      左/右箭头 - 向右/左转动相机。<br />
      上/下箭头 - 向前或向后移动相机。<br />
      右键 - 改变相机的垂直角度。<br />
      Numpad 上的 - 和 + 改变相机角度。<br />
      鼠标滚轮 - 上升或降低相机高度。
    </p>
  </section>
</div>
