.article {
  h3 {
    color: #d8d8d8;
  }
}

.identity-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  .image-box {
    width: 60px;
    height: 80px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info {
    align-self: flex-end;
    margin-left: 12px;
  }
}

.game-strategy {
  padding: 4px 0;
  margin: 12px 0;
  border-bottom: 1px solid #9b9b9b;
  border-top: 1px solid #9b9b9b;

  .contributors {
    font-size: 14px;
    margin-top: 6px;

    span {
      color: #c4c4a8;
      margin-right: 6px;
    }

    a {
      cursor: pointer;
      color: #c4c4c4;
      text-decoration: underline;
    }

    a:hover {
      color: #ffffff;
    }
  }
}

.vote-list {
  .vote-item {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 4px 0;
    margin-bottom: 6px;
    border-bottom: 1px solid #9b9b9b;

    .vote-button {
      cursor: pointer;
      margin-left: 6px;
      border-bottom: 1px solid #9b9b9b;
    }

    .vote-button:hover {
      color: #f696dd;
      border-color: #f696dd;
    }
  }
}

