<div *ngIf="data" class="article">
  <div *ngIf="clan" class="identity-information">
    <div style="display: flex">
      <div class="image-box">
        <img [src]="clan.file.heroAvatarPath" [alt]="clan.file.name"
             [title]="clan.file.heroName">
      </div>
      <div class="info">
        <div style="font-size: 20px">{{ clan.file.heroName }}</div>
        <div style="font-size: 16px">{{ clan.file.nameCN }}</div>
      </div>
    </div>
    <w-back-button></w-back-button>
  </div>
  <ng-container *ngIf="clan?.file as file">
    <div class="game-strategy">
      <div [innerHTML]="file.description"></div>
      <ng-container *ngIf="file.contributors?.length">
        <p
          *ngFor="let contributor of file.contributors"
          class="contributors"
        >
          <span>供稿人:</span>
          <a *ngIf="contributor.url"
             (click)="onContributorClick(contributor)"
             target="_blank"
             [href]="contributor.url"
          >{{ contributor.name }}</a>
          <a *ngIf="!contributor.url">{{ contributor.name }}</a>
        </p>
      </ng-container>
    </div>
  </ng-container>
  <w-tag-selector [tags]="tags" (tagSelected)="onTagSeclet($event)"></w-tag-selector>
  <w-list
    *ngIf="data.length"
    [data]="data"
    [mode]="eList.ARTICLE"
    (listItemClick)="onListItemClick($event)"
  ></w-list>
  <div *ngIf="!data.length">
    暂无内容
  </div>
</div>
