<div class="static-article">
  <div class="block en">
    <p>
      The Spanish position is a difficult one, hemmed in by mountains,
      independent rebels, the Aragonese, and the Almohads. Early expansion
      somewhere is vital, and the fall of every independent province to a rival
      in the Iberian Peninsula weakens the Spanish position. Spanish military
      forces are much as those of other Catholic powers - their heavy
      specialized cavalry such as Lancers and Gendarmes are quite late
      developments and not exclusive to the Spanish. They do have exclusive
      access to the Knights of Santiago, units that only become available after
      a successful Crusade. And thanks to geographical restrictions, they can
      train units of Spanish Jinettes. These light cavalrymen can give
      unsuspecting opponents a nasty surprise!
    </p>
  </div>
  <div class="block cn">
    <p>
      西班牙的形势十分困难，四面被山脉、独立叛军、阿拉贡人和阿尔莫哈德人围困。尽早扩张至关重要，而每一个独立省份的沦陷都会削弱西班牙在伊比利亚半岛的地位。西班牙的军事力量与其他天主教势力相似——他们的重型特种骑兵如长矛骑兵和骑士是较晚发展而来的，并不独属于西班牙。他们独有的圣地亚哥骑士团只有在成功的十字军东征后才能招募。此外，由于地理限制，他们可以训练西班牙轻骑兵。这些轻骑兵能给毫无防备的对手带来意外的打击！
    </p>
  </div>
  <div class="block en">
    <p>
      The Christian kings of Spain are not the only claimants to the lands south
      of the Pyrenees. The Islamic rulers of the Almohad Caliphate possess much
      of the peninsula, and are seen as blood enemies by the Spanish. Almost
      driven from their lands by the Almohads, the Spanish have clung grimly to
      their remaining provinces and fought back. The defense of Christian Spain
      has become a holy cause, as the Spanish see themselves as the defenders of
      Christendom in the west. Even so, they face a great and powerful enemy in
      the Almohads and one that is, by many standards, a good deal more advanced
      and civilized than they.
    </p>
  </div>
  <div class="block cn">
    <p>
      西班牙的基督教国王并不是比利牛斯山以南土地的唯一声索者。阿尔莫哈德哈里发的伊斯兰统治者拥有半岛的大部分领土，并被西班牙人视为死敌。西班牙人几乎被阿尔莫哈德人驱逐出境，紧紧依附在剩余的省份上并奋力反击。捍卫基督教西班牙已成为一种神圣事业，因为西班牙人视自己为西方基督教的捍卫者。即便如此，他们仍面临着阿尔莫哈德人这一强大而伟大的敌人，这个敌人按许多标准而言，文明程度远高于他们。
    </p>
  </div>
  <div class="block en">
    <p>
      The defeat of the Almohad Caliphate must be the priority for any Spanish
      King. Unless the Almohads are driven from Spanish soil, they will always
      be a threat, just by their presence. Peaceful co-existence may be possible
      for a while, but long term it is an illusion. Catholic Spain and Islamic
      Spain want the same lands and the same souls, and the Catholic Kings of
      Spain should be in no mood for compromise.
    </p>
  </div>
  <div class="block cn">
    <p>
      击败阿尔莫哈德哈里发是任何西班牙国王的首要任务。除非将阿尔莫哈德人赶出西班牙土地，否则他们的存在将始终构成威胁。和平共处在短期内或许可行，但从长远来看则是一种幻觉。天主教西班牙和伊斯兰西班牙渴望拥有同样的土地和灵魂，西班牙的天主教国王不应有妥协的心态。
    </p>
  </div>
  <div class="block en">
    <p>
      To date, they have not been able to afford the luxury of tolerance, and
      are unlikely to be able to do so in future. The Spanish can harness their
      vigorous faith in pursuit of victory, but the Almohads will have to be
      worn down on many battlefields to secure a Spanish homeland. If this is
      not done, too many resources and men will have to be committed to
      defensive garrisons to allow new conquests to be made.
    </p>
  </div>
  <div class="block cn">
    <p>
      迄今为止，他们尚未能够承担宽容的奢侈，未来也不太可能做到。西班牙人可以利用他们强烈的信仰来追求胜利，但阿尔莫哈德人必须在多个战场上被削弱，以确保西班牙的家园。如果不这样做，就必须投入过多的资源和人力用于防御驻军，以便进行新的征服。
    </p>
  </div>
  <div class="block en">
    <p>
      Bringing all of Spain back into the Catholic fold may be greatness enough
      for some but once it is done further expansion is possible. Any invasion
      into southern France is across rugged and inhospitable terrain and will
      require a Spanish King's undivided attention, but with experienced troops
      it could be done. It could also be advantageous for Spain if the French
      and English have already bled each other dry too.
    </p>
  </div>
  <div class="block cn">
    <p>
      将整个西班牙重新纳入天主教的怀抱对于一些人来说可能已经足够伟大，但一旦完成，进一步扩张也是可能的。任何对南法的入侵都要穿越崎岖且不毛之地，这需要西班牙国王全神贯注，但有经验的部队是可以做到的。如果法国和英国彼此消耗殆尽，这对西班牙来说也是有利的。
    </p>
  </div>
  <div class="block en">
    <p>
      The Spanish rarely have military power to spare for Crusades towards the
      east and the Holy Land unless they have defeated the Islamic princes
      closer to home. But Crusades can also be a powerful tool in this domestic
      struggle; a mighty weapon indeed, but the consequences of a Crusade can
      also be terrible and unpredictable.
    </p>
  </div>
  <div class="block cn">
    <p>
      除非西班牙人已经击败了离家较近的伊斯兰王子，否则他们很少有多余的军力用于向东及圣地的十字军东征。但十字军东征在这场国内斗争中也可以是强大的工具；确实是一把强大的武器，但十字军的后果也可能是可怕而不可预测的。
    </p>
  </div>
</div>
