<div class="static-article">
  <div class="block en">
    <p>
      The Turks have a difficult starting position simply because, from early in
      the game, they will have to enter into a major war against either the
      Byzantine Empire or the Egyptians. Unless either of these opponents falls
      into anarchy, there are no easy pickings to be made. Expansion means
      taking someone else's lands. As if to compensate for this difficult
      starting position, the Turks have one of the more interesting unit
      rosters, with many units that are exclusively Turkish. Some of these, such
      as the Janissaries, emerge late in the game, but the Turks also have a
      fine selection of cavalry and horse archers.
    </p>
  </div>
  <div class="block cn">
    <p>
      土耳其的起始位置非常困难，因为在游戏早期，他们必须与拜占庭帝国或埃及人展开一场重大战争。除非这两个对手中的任何一个陷入无政府状态，否则就没有简单的猎物可捡。扩张意味着要夺取别人的土地。为了弥补这种困难的起始位置，土耳其拥有一个相对有趣的单位名册，许多单位都是土耳其专属的。其中一些单位，如耶尼切里，游戏后期才会出现，但土耳其也有丰富的骑兵和马弓手选择。
    </p>
  </div>
  <div class="block en">
    <p>
      The Turks are a warlike people, and justifiably proud of their martial
      skills. Once steppe warriors in the service of Muslim princes further to
      the east, they have now become Muslim princes themselves thanks to these
      same war skills. They have carved out a sultanate that not only challenges
      the power of Byzantium but also dominates the approaches to the Holy Land
      and the valuable trade routes through the Levant. This rise to power has
      not been without its internal conflicts, but succession crises have been
      weathered and the Turkish sultanate has always emerged the stronger.
    </p>
  </div>
  <div class="block cn">
    <p>
      土耳其人是好战的民族，并且对自己的武艺感到自豪。曾经是服务于东部穆斯林王子的草原战士，现在由于这些同样的战争技能，他们也成为了穆斯林王子。他们建立了一个不仅挑战拜占庭权力的苏丹国，而且主导了通往圣地的途径以及通过黎凡特的宝贵贸易路线。这样的崛起并非没有内部冲突，但继承危机已被克服，土耳其苏丹国始终以更强的姿态走出困境。
    </p>
  </div>
  <div class="block en">
    <p>
      Firstly, the Orthodox Christians of the Byzantine Empire can represent
      Islamic Turkish expansion as not just a threat to their own power and
      prestige, but as an attack on Jerusalem, the destination for Christian
      pilgrims. This can bring western adventurers and Crusaders to the Middle
      East, intent on destroying Turkish power. Secondly, there is Byzantium
      itself. Although the Empire has been in decline, there is nothing to say
      that it must remain so. An able Byzantine Emperor could easily marshal
      enough resources to attack and defeat the Turks! A wise Sultan keeps his
      armies ready for war, even when not contemplating immediate expansion.
    </p>
  </div>
  <div class="block cn">
    <p>
      首先，拜占庭帝国的东正教徒可以将伊斯兰土耳其的扩张视为对他们自身权力和声望的威胁，也可以视为对耶路撒冷的攻击，耶路撒冷是基督教朝圣者的目的地。这可能会吸引西方冒险家和十字军来到中东，意图摧毁土耳其的力量。其次，拜占庭帝国本身也是一个问题。虽然帝国正在衰落，但并不能说它必须一直保持这种状态。一位有能力的拜占庭皇帝可以很容易地动员足够的资源来攻击并击败土耳其人！一位明智的苏丹即使在未考虑立即扩张时，也会保持军队的备战状态。
    </p>
  </div>
  <div class="block en">
    <p>
      But the potential is there: the rich and tempting provinces of the
      Byzantine Empire are now vulnerable to attack after long years of
      decadence, and beyond them is the greatest prize of all: the city of
      Constantinople and its untold riches. Beyond that are the petty
      principalities of the Balkans. A Turkish Sultan could one day rule his own
      lands and much of Europe too! The Holy Land and far-off Egypt also beckon,
      if the fury of the Christian, Catholic west (as their holy places are
      conquered or threatened) can be withstood.
    </p>
  </div>
  <div class="block cn">
    <p>
      但潜力依然存在：拜占庭帝国富饶而诱人的省份经过多年衰落后现在脆弱可攻，超越这些省份则是最大的奖赏：君士坦丁堡及其无尽的财富。再往外是巴尔干的小公国。某天，一位土耳其苏丹可能会统治自己的土地及大部分欧洲！如果能够抵挡住基督教、天主教西方的愤怒（当他们的圣地被征服或威胁时），圣地和遥远的埃及也在召唤。
    </p>
  </div>
</div>
