<div class="w-app">
  <w-banner></w-banner>
  <div style="max-width: 940px; margin: 24px auto 0">
    <w-slideshow [images]="slideImages"></w-slideshow>
    <div style="margin: 12px 0">
      <w-classifier (classifierItemClick)="onClassifierItemClick($event)"></w-classifier>
    </div>
    <div style="display: flex; flex-wrap: wrap">
      <ng-container *ngFor="let item of cards; let index = index;">
        <w-item-card
          *ngIf="item.typeId === activeTypeId"
          style="margin-right: 12px; margin-bottom: 12px"
          (click)="onCardClick(item)"
          [data] = "item"
        ></w-item-card>
      </ng-container>
    </div>
  </div>
</div>
<!--<app-nx-welcome></app-nx-welcome>-->
<!--<router-outlet></router-outlet>-->
