<div class="w-app">
  <w-banner
    (click)="onBannerClick()"
    [data]="appConfig.banner"
  >
    <div rightContent>
      <!-- TODO -->
      <!--
      <w-project-switcher
        [selectedProject]="selectedProject"
        [projects]="projects"
        (projectSelected)="onProjectSelected($event)">
      </w-project-switcher>
      -->
      全面战争·战锤3
    </div>
  </w-banner>
  <div class="page">
    <div
      *ngIf="showNavigation"
      style="margin-bottom: 24px"
    >
      <w-navigation
        [items]="appConfig.navigationItems"
        (navigationItemClick)="onNavigationItemClick($event)"
      ></w-navigation>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>

