<div class="articles">
  <ng-container *ngIf="mode === eMode.HOME">
    <section>
      <div class="static-link">
        <div
          *ngFor="let item of militaryUnitLinks"
          class="static-link__item"
          (click)="onStaticLinkItemClick(item)"
        >
          {{ item.label }}
        </div>
      </div>
    </section>
    <section>
      <div class="subtitle">派系介绍</div>
      <div class="static-link">
        <div
          *ngFor="let item of backgroundLinks"
          class="static-link__item"
          (click)="onStaticLinkItemClick(item)"
        >
          {{ item.label }}
        </div>
      </div>
    </section>
  </ng-container>
  <div *ngIf="mode === eMode.DETAIL" class="detail">
    <div
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <button class="button-back" (click)="goBack()">返回</button>
      <w-tag-selector
        [tags]="tags"
        (tagSelected)="onTagSelect($event)"
      ></w-tag-selector>
    </div>
    <div [className]="'local-' + localLanguage" style="margin-top: 12px">
      <app-military-units
        *ngIf="staticLinkItem?.key === 'military_units'"
      ></app-military-units>
      <app-background-early
        *ngIf="staticLinkItem?.key === 'background_early'"
      ></app-background-early>
      <app-almohads-early
        *ngIf="staticLinkItem?.key === 'almohads_early'"
      ></app-almohads-early>
      <app-aragon-early
        *ngIf="staticLinkItem?.key === 'aragon_early'"
      ></app-aragon-early>
      <app-byzantine-early
        *ngIf="staticLinkItem?.key === 'byzantine_early'"
      ></app-byzantine-early>
      <app-danes-early
        *ngIf="staticLinkItem?.key === 'danes_early'"
      ></app-danes-early>
      <app-egypt-early
        *ngIf="staticLinkItem?.key === 'egypt_early'"
      ></app-egypt-early>
      <app-english-early
        *ngIf="staticLinkItem?.key === 'english_early'"
      ></app-english-early>
      <app-french-early
        *ngIf="staticLinkItem?.key === 'french_early'"
      ></app-french-early>
      <app-holy-roman-early
        *ngIf="staticLinkItem?.key === 'holy_roman_early'"
      ></app-holy-roman-early>
      <app-hungarians-early
        *ngIf="staticLinkItem?.key === 'hungarians_early'"
      ></app-hungarians-early>
      <app-italy-early
        *ngIf="staticLinkItem?.key === 'italy_early'"
      ></app-italy-early>
      <app-polish-early
        *ngIf="staticLinkItem?.key === 'polish_early'"
      ></app-polish-early>
      <app-sicily-early
        *ngIf="staticLinkItem?.key === 'sicily_early'"
      ></app-sicily-early>
      <app-spanish-early
        *ngIf="staticLinkItem?.key === 'spanish_early'"
      ></app-spanish-early>
      <app-turkish-early
        *ngIf="staticLinkItem?.key === 'turkish_early'"
      ></app-turkish-early>
    </div>
  </div>
</div>
