<div class="clans">
  <div style="display: flex;align-items: baseline;justify-content: center">
    <div style="margin-right: 12px">显示模式:</div>
    <w-tag-selector [tags]="tags" (tagSelected)="onTagSeclet($event)"></w-tag-selector>
  </div>
  <div style="margin: 12px 0">
    <st-clans-navigation *ngIf="activeModeId === 'map'"></st-clans-navigation>
    <st-warhammer-classifier *ngIf="activeModeId === 'list'"></st-warhammer-classifier>
    <!--<w-classifier (classifierItemClick)="onClassifierItemClick($event)"></w-classifier>-->
  </div>
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-bottom: 12px">
    <div style="margin-bottom: 12px">超凡帝国大地图:</div>
    <img src="assets/images/warhammer/cfdg_800.jpg" alt="" (click)="openImage('1400')">
    <button style="text-decoration: underline; margin-top: 8px" (click)="openImage('high')">
      打开高清版地图（8.52MB）
    </button>
  </div>
</div>
