<div
  *ngIf="showBanner && selectedCard"
  [class.show]="showBanner"
  class="bottom-banner"
>
  <div class="content">
    <div class="info">
      <h3 class="title">{{ selectedCard.title }}</h3>
      <p class="description">{{ selectedCard.description }}</p>
      <div *ngIf="selectedCardDetail && selectedCardDetail.price" class="price">
        <p *ngIf="selectedCardDetail.price.xg">
          <span class="seller">港货正品：</span>
          <span class="value">{{ selectedCardDetail.price.xg }}</span>
        </p>
        <p *ngIf="selectedCardDetail.price.pdd">
          <span class="seller">拼多多：</span>
          <span class="value">{{ selectedCardDetail.price.pdd }}</span>
        </p>
        <p *ngIf="selectedCardDetail.price.xy">
          <span class="seller">闲鱼：</span>
          <span class="value">{{ selectedCardDetail.price.xy }}</span>
        </p>
        <p *ngIf="selectedCardDetail.price.jd">
          <span class="seller">京东：</span>
          <span class="value">{{ selectedCardDetail.price.jd }}</span>
        </p>
        <p *ngIf="selectedCardDetail.price.tb">
          <span class="seller">淘宝：</span>
          <span class="value">{{ selectedCardDetail.price.tb }}</span>
        </p>
      </div>
    </div>
    <button class="close-button" (click)="closeBanner()">收起</button>
  </div>
</div>
<div *ngIf="pageConfig" class="page">
  <div class="top-bar">
    <div class="top-bar__container">
      <div class="left">
        <w-navigation
          [mode]="eNavigationMode.COMMON"
          [items]="navigationItems"
          [initItemId]="initNavigationItemId"
          (navigationItemClick)="onNavigationItemClick($event)"
        ></w-navigation>
      </div>
      <div class="right">
        <div class="search-container">
          <input
            type="text"
            placeholder="搜索一下"
            [(ngModel)]="searchText"
            (input)="onSearchChange()"
            class="search-input"
          />
        </div>
        <w-navigation-button
          [url]="contactUsUrl"
          [buttonText]="'联系站长购买'"
        ></w-navigation-button>
      </div>
    </div>
  </div>
  <div *ngIf="tags.length" class="tag-container">
    <w-tag-selector
      [visibleTagCount]="15"
      [mode]="eTagSelector.COMMON"
      [tags]="tags"
      (tagSelected)="onTagSelect($event)"
    ></w-tag-selector>
  </div>
  <div *ngIf="activeTag && activeTag.id !== 'all'" class="description">
    <div class="text">
      {{ activeTag.description }}
    </div>
    <div class="button-more" (click)="onMoreClick()">
      查看详细 <span>{{ activeTag.name }}</span> 的详细资料
    </div>
  </div>
  <div *ngIf="pageConfig.mode === ePageMode.ARTICLE" class="grid-container">
    <div *ngFor="let item of data" class="grid-container__item">
      <w-article-card
        [data]="item"
        (itemClick)="onItemClick($event)"
      ></w-article-card>
    </div>
  </div>
  <div *ngIf="pageConfig.mode === ePageMode.GOODS_CARD" class="grid-container">
    <div *ngFor="let item of data" class="grid-container__item">
      <w-good-card
        [data]="item"
        (itemClick)="onItemClick($event)"
      ></w-good-card>
    </div>
  </div>
  <app-gallery
    *ngIf="pageConfig.mode === ePageMode.GALLERY"
    [data]="data"
    (itemClick)="onItemClick($event)"
  ></app-gallery>
</div>
