<div class="w-app">
  <w-banner [data]="appConfig.banner">
    <div rightContent>
      <!--
      <w-project-switcher
        [selectedProject]="selectedProject"
        [projects]="projects"
        (projectSelected)="onProjectSelected($event)"
      >
      </w-project-switcher>
      -->
      <w-back-home-button></w-back-home-button>
    </div>
  </w-banner>
  <div class="page">
    <div *ngIf="showNavigation" style="margin-bottom: 24px">
      <w-navigation
        [items]="appConfig.navigationItems"
        (navigationItemClick)="onNavigationItemClick($event)"
      ></w-navigation>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
