.recommend {
  margin-top: 48px;

  &__item {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 24px;
    padding-bottom: 12px;
    border-bottom: 1px solid #0e4965;

    .details {
      margin-left: 24px;

      .title {
        font-size: 24px;
        letter-spacing: 6px;
      }

      .subtitle {
        font-size: 18px;
        margin: 12px 0;
      }

      .sku {
        &__label {
          margin-right: 6px;
        }
      }

      p {
        margin-bottom: 4px;
      }
    }

    .box {
      .front {
        width: 240px;
        height: auto;
      }
    }
  }
}

@media (max-width: 600px) {
  .recommend {
    margin-top: 120px;

    &__item {
      display: block;

      .details {
        margin-left: auto;
        text-align: center;
        font-size: 16px;

        .title {
          font-size: 18px;
        }

        .subtitle {
          margin: 6px 0;
        }

        .sku {
          &__label {
            margin-right: 2px;
          }
        }

        p {
          margin-bottom: 0;
        }

        .no-mobile {
          display: none;
        }
      }
    }
  }
}
