<div class="recommend">
  <div class="recommend__item">
    <div class="box">
      <img class="front" src="assets/images/recommend/gwlrhy.png" alt="" />
    </div>
    <div class="details">
      <div class="title">怪物猎人·荒野</div>
      <div>2025年2月28日发售</div>
      <div class="subtitle">开启预订</div>
      <div>
        <p class="sku">
          <span class="sku__label">普通版:</span>
          <span class="sku__value">498.00 港币</span>
        </p>
        <p class="sku">
          <span class="sku__label">铁盒版:</span>
          <span class="sku__value">548.00 港币</span>
        </p>
        <p class="sku">
          <span class="sku__label">特典版:</span>
          <span class="sku__value">1098.00 港币</span>
        </p>
      </div>
    </div>
  </div>
  <div class="recommend__item">
    <div class="box">
      <img class="front" src="assets/images/recommend/zsgwsqy.png" alt="" />
    </div>
    <div class="details">
      <div class="title">真·三国无双 起源</div>
      <div>2025年1月17日发售</div>
      <div>
        <p class="sku">
          <span class="sku__label">普通版:</span>
          <span class="sku__value">469.00 港币</span>
        </p>
      </div>
    </div>
  </div>
</div>
