<div class="accounting-card">
  <div *ngFor="let room of rooms" [ngClass]="room.status" class="room-card">
    <h3>{{ room.roomNumber }}</h3>

    <p>{{ getStatusLabel(room.status) }}</p>

    <ng-container *ngIf="room.status === ERoomStatus.OCCUPIED">
      <p>
        {{ room.startTime }} - {{ room.endTime }}<br />
        倒计时：{{ room.remainingTime }}
      </p>
    </ng-container>

    <div class="actions">
      <button
        *ngIf="room.status === ERoomStatus.AVAILABLE"
        (click)="openStartForm(room)"
      >
        开台
      </button>
      <button
        *ngIf="room.status === ERoomStatus.AVAILABLE"
        (click)="setRoomStatus(room, ERoomStatus.DISABLED)"
      >
        停用
      </button>
      <button
        *ngIf="room.status === ERoomStatus.OCCUPIED"
        (click)="endRoomUsage(room)"
      >
        结束使用
      </button>
      <button
        *ngIf="room.status === ERoomStatus.DISABLED"
        (click)="setRoomStatus(room, ERoomStatus.AVAILABLE)"
      >
        启用
      </button>
    </div>
  </div>
</div>
