<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BiliBili Video Processor</title>
</head>
<body>
<h1>BiliBili Video Processor</h1>
<form id="saveForm">
  <label for="bvids">Enter BVIDs (comma-separated):</label><br>
  <input style="width: 800px" type="text" id="bvids" name="bvids"><br><br>

  <label for="clanId">Select Clan ID:</label><br>
  <input type="text" id="clanSearch" oninput="filterClans()" placeholder="Search for Hero Name...">
  <select id="clanId" name="clanId">
    <option value="china" data-hero="china">food-中华美食</option>
    <option value="southeastAsia" data-hero="southeastAsia">food-东南亚</option>
    <option value="arabic" data-hero="arabic">food-阿拉伯</option>
    <option value="europe" data-hero="europe">food-欧洲</option>
    <option value="america" data-hero="america">food-美洲</option>
    <option value="strategy" data-hero="strategy">game-攻略</option>
    <option value="liveRecording" data-hero="liveRecording">game-实况录播</option>
    <option value="backgroundKnowledge" data-hero="backgroundKnowledge">game-背景知识</option>
    <option value="uncontrollableMoment" data-hero="uncontrollableMoment">funny-绷不住的瞬间</option>
    <option value="funnyCollection" data-hero="funnyCollection">funny-无敌合集</option>
    <option value="parodyAndPrank" data-hero="parodyAndPrank">funny-恶搞整活</option>
    <option value="superJoke" data-hero="superJoke">funny-超能段子</option>
    <option value="articles" data-hero="articles">articles-最新资讯</option>
    <option value="practicalTeaching" data-hero="practicalTeaching">practicalTeaching-实战教学</option>
    <option value="basicKnowledge" data-hero="basicKnowledge">basicKnowledge-基础知识</option>
    <option value="warSchoolVideo" data-hero="warSchoolVideo">warSchoolVideo-战争讲堂精选视频</option>
    <option value="newMod" data-hero="newMod">newMod-新 Mod</option>
    <option value="modCollection" data-hero="modCollection">modCollection-Mod 合集</option>
    <option value="discount" data-hero="discount">discount-折扣消息</option>
    {% for clan in clans %}
    <option value="{{ clan.id }}" data-hero="{{ clan.heroName }}">{{ clan.heroName }} {{ clan.nameCN }}</option>
    {% endfor %}
  </select><br><br>

  <label for="tags">Select Tags:</label><br>
  <input type="checkbox" id="all" name="tags" value="all">
  <label for="all">All 全部</label><br>
  <input type="checkbox" id="clansDescription" name="tags" value="clansDescription">
  <label for="clansDescription">Clans Description 派系说明</label><br>
  <input type="checkbox" id="liveRecording" name="tags" value="liveRecording">
  <label for="liveRecording">Live Recording 实况录像</label><br>
  <input type="checkbox" id="newerTeach" name="tags" value="newerTeach">
  <label for="newerTeach">Newer Teach 萌新教学</label><br>
  <input type="checkbox" id="clip" name="tags" value="clip">
  <label for="clip">Clip 剪辑大片</label><br>
  <input type="checkbox" id="story" name="tags" value="story">
  <label for="story">Story 讲故事</label><br>
  <input type="checkbox" id="task" name="tags" value="task">
  <label for="task">Task 任务</label><br><br>

  <label for="tags">特产网专用子分类:</label><br>
  <input type="checkbox" id="food" name="tags" value="food">
  <label for="food">美食</label><br>
  <input type="checkbox" id="tea" name="tags" value="tea">
  <label for="tea">茶</label><br>
  <input type="checkbox" id="wine" name="tags" value="wine">
  <label for="wine">酒</label><br>
  <input type="checkbox" id="fruit" name="tags" value="fruit">
  <label for="fruit">水果</label><br>
  <input type="checkbox" id="gemstone" name="tags" value="gemstone">
  <label for="gemstone">宝石</label><br>
  <input type="checkbox" id="medicine" name="tags" value="medicine">
  <label for="medicine">名药</label><br>
  <input type="checkbox" id="flower" name="tags" value="flower">
  <label for="flower">花</label><br><br>

  <input type="button" value="Save" onclick="saveData()">
</form>

<script>
  function filterClans() {
    var input, filter, select, options, option, i, heroName;
    input = document.getElementById("clanSearch");
    filter = input.value.toUpperCase();
    select = document.getElementById("clanId");
    options = select.getElementsByTagName("option");
    for (i = 0; i < options.length; i++) {
      option = options[i];
      heroName = option.getAttribute("data-hero").toUpperCase();
      if (heroName.indexOf(filter) > -1) {
        option.style.display = "";
      } else {
        option.style.display = "none";
      }
    }
  }

  function saveData() {
    var bvids = document.getElementById('bvids').value.split(',');
    var tags = Array.from(document.querySelectorAll('input[name="tags"]:checked')).map(tag => tag.value);
    var clanId = document.getElementById('clanId').value;

    var data = {
      bvids: bvids,
      tags: tags,
      typeId: clanId
    };

    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/save_data', true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onreadystatechange = function() {
      if (xhr.readyState === 4) {
        if (xhr.status === 200) {
          alert('Data processing started for BVIDs!');
        } else {
          alert('Failed to start data processing. Status code: ' + xhr.status);
        }
      }
    };
    xhr.send(JSON.stringify(data));
  }
</script>
</body>
</html>
