<div class="war-school">
  <section>
    <div class="subtitle">
      基础知识
    </div>
    <div class="basic-knowledge">
      <w-list
        [data]="basicKnowledge"
        [mode]="eList.ARTICLE"
        (listItemClick)="onListItemClick($event)"
      ></w-list>
    </div>
  </section>
  <section>
    <div class="subtitle">
      实战教学
    </div>
    <div class="practical-teaching">
      <w-list
        [data]="practicalTeaching"
        [mode]="eList.ARTICLE"
        (listItemClick)="onListItemClick($event)"
      ></w-list>
    </div>
  </section>
  <section>
    <div class="subtitle">
      相关视频
    </div>
    <div class="cards">
      <ng-container *ngFor="let item of warSchoolVideo; let index = index;">
        <w-item-card
          (click)="onCardClick(item)"
          [data]="item"
        ></w-item-card>
      </ng-container>
    </div>
  </section>
</div>
