.english-words {
  .subtitle {
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 12px;
  }

  .static-link {
    margin-bottom: 12px;

    &__item {
      color: #c4c4c4;
      cursor: pointer;
      padding-bottom: 4px;
      border-bottom: 1px solid #9b9b9b;
      margin-bottom: 6px;

      &:hover {
        color: #ffffff;
        border-color: #ffffff;
      }
    }
  }

  .detail {
    .button-back {
      padding: 4px 6px;
      border-bottom: 1px solid #9b9b9b;
      font-size: 16px;
      color: #d8d8d8;

      &:hover {
        border-color: #ffffff;
      }
    }
  }
}

