<div class="static-article">
  <div class="block en">
    <p>
      The Polish position is not an easy one to convert into outright victory.
      There are easy pickings nearby, but these have to be taken quickly. Time
      is not an ally, as both the Holy Roman Empire and Hungary to the west and
      Novgorod to the east can both quickly expand until their borders are in
      direct contact with Polish territory.
    </p>
  </div>
  <div class="block cn">
    <p>
      波兰的形势并不容易转化为彻底的胜利。附近有易于攻取的目标，但这些必须迅速占领。时间并不是盟友，因为西面的神圣罗马帝国和匈牙利以及东面的诺夫哥罗德都可以迅速扩张，直到他们的边界与波兰领土直接接触。
    </p>
  </div>
  <div class="block en">
    <p>
      At this point, war on many fronts is likely. The Poles have only one
      exclusive unit, Polish Retainers, and these are not immediately available.
      They can, however, have access to both specialised troops from nearby
      provinces, such as Lithuanian Cavalry and Woodsmen, and most of the troops
      available to other Catholic factions.
    </p>
  </div>
  <div class="block cn">
    <p>
      在这一点上，多线作战是很可能的。波兰人只有一个专属单位：波兰侍从，但这些并不立即可用。然而，他们可以获得来自附近省份的专属部队，如立陶宛骑兵和森林人，以及其他天主教派可用的大多数部队。
    </p>
  </div>
  <div class="block en">
    <p>
      In the last century, Poland has profited from the weakness of its
      neighbours and its strong relationship with the Empire and the Papacy,
      even though it is only a little over 100 years since Christianity became
      the religion of its rulers and the pagan ways were abandoned.
    </p>
  </div>
  <div class="block cn">
    <p>
      在过去的一个世纪中，波兰从邻国的弱点和与帝国及教皇的良好关系中获益，尽管距离基督教成为其统治者的宗教仅有略多于100年，异教徒的生活方式已经被抛弃。
    </p>
  </div>
  <div class="block en">
    <p>
      Polish Grand Dukes swore fealty to the Empire and even made their country
      subordinate to the Pope in the recent past. Polish military strength has
      now brought about a break with the Empire, and the independent Polish
      kings rule in their own right. The borders of the kingdom of Poland are
      not, however, set in stone - both opportunity and danger wait on all
      sides.
    </p>
  </div>
  <div class="block cn">
    <p>
      波兰大公曾向帝国宣誓效忠，甚至在不久前将国家置于教皇之下。波兰的军事力量如今导致与帝国的决裂，独立的波兰国王开始自主统治。然而，波兰王国的边界并不是固定不变的——机会和危险都在四面八方等待。
    </p>
  </div>
  <div class="block en">
    <p>
      There is opportunity all around in the petty principalities and dukedoms
      that owe allegiance to no strong central kingdom, and in the lands of the
      lesser kingdoms too. With no central authority, these smaller powers can
      easily fall before an aggressive, organised attack, and a cunning Polish
      King can take advantage of his smaller neighbours' weaknesses.
    </p>
  </div>
  <div class="block cn">
    <p>
      在那些不向任何强大的中央王国效忠的小公国和公爵领地中，以及那些小国的土地上，到处都有机会。没有中央权威，这些较小的力量在一个有组织的攻击面前容易崩溃，而聪明的波兰国王可以利用邻国的弱点。
    </p>
  </div>
  <div class="block en">
    <p>
      Even the sanction of Mother Church can be relied upon at times for these
      actions, as there are still many places where pagans can be found, their
      souls ripe for salvation through conquest. To the east and northeast, the
      people are fierce, but not so organised as in the west.
    </p>
  </div>
  <div class="block cn">
    <p>
      即使母教会的制裁在某些情况下也可以依赖，因为仍然有许多地方可以找到异教徒，他们的灵魂通过征服而渴望得救。向东和东北，人民虽然强悍，但并不像西方那样有组织。
    </p>
  </div>
  <div class="block en">
    <p>
      To the west, the pickings are richer but the risks are greater, especially
      as this is likely to bring Poland into direct competition with Imperial
      power in central Germany.
    </p>
  </div>
  <div class="block cn">
    <p>
      向西的收益更为丰厚，但风险也更大，特别是这可能会使波兰与神圣罗马帝国在德国中部的力量直接竞争。
    </p>
  </div>
  <div class="block en">
    <p>
      And Imperial power can be a problem, especially any Imperial plans for
      expansion if the Emperor is checked or chooses not to move south or
      westwards. A wise Polish ruler will realise that he may not be able to
      defeat the Empire, but he can certainly make it too expensive in blood and
      treasure for the Imperial army to advance into Poland or keep what it
      takes for very long.
    </p>
  </div>
  <div class="block cn">
    <p>
      而帝国力量可能会成为问题，特别是如果皇帝受到限制或选择不向南或西方扩张的情况下，任何帝国的扩张计划都会受到影响。一位聪明的波兰统治者会意识到他可能无法击败帝国，但他确实可以让帝国军队以血和财富的代价难以在波兰推进或长久保有。
    </p>
  </div>
</div>
