<div class="static-article">
  <div class="block en">
    <p>
      Around 200 years ago, the Magyars were one of many nomadic peoples who
      left the steppes and rode into eastern and central Europe. Settling into
      the Danube basin, they became greatly feared for their raiding, which
      reached as far as Bremen, Orleans and Constantinople.
    </p>
  </div>
  <div class="block cn">
    <p>
      大约200年前，匈奴人是众多离开草原的游牧民族之一，他们骑马进入东欧和中欧。定居在多瑙河流域后，他们因袭击而受到极大的恐惧，袭击的范围甚至达到了不来梅、奥尔良和君士坦丁堡。
    </p>
  </div>
  <div class="block en">
    <p>
      As the kingdoms of Europe - in particular the Holy Roman Empire, which had
      borne the brunt of their attacks - set aside quarrels and organized their
      defences, raiding gave way to diplomatic activity. The Magyars of Hungary
      became established as an ally of the Empire, guarding its flanks instead
      of preying upon them.
    </p>
  </div>
  <div class="block cn">
    <p>
      随着欧洲王国，特别是曾承受匈奴人攻击的神圣罗马帝国，放下争端并组织防御，袭击逐渐被外交活动所取代。匈牙利的匈奴人成为了帝国的盟友，保护其侧翼而不是掠夺。
    </p>
  </div>
  <div class="block en">
    <p>
      The process was complete when Stephen I adopted Christianity and was
      recognized as King of Hungary by the Pope and Emperor in 1000. He was even
      proclaimed a saint after his death in 1038!
    </p>
  </div>
  <div class="block cn">
    <p>
      当斯蒂芬一世皈依基督教并于1000年被教皇和皇帝承认为匈牙利国王时，这一过程就完成了。他甚至在1038年去世后被宣称为圣人！
    </p>
  </div>
  <div class="block en">
    <p>
      After Stephen's death, Hungary fell into a period of turmoil as rival
      claimants to the throne intrigued and fought for control, a time which may
      have lasted until the present day. After a promising beginning, Hungary is
      weak, and needs a strong leader who can reunite the nation and guide its
      fortunes into the future.
    </p>
  </div>
  <div class="block cn">
    <p>
      斯蒂芬去世后，匈牙利陷入了一个动荡的时期， rival claimants to the throne
      争夺控制权，这一时期可能持续至今。在一个良好的开端之后，匈牙利变得虚弱，需要一个强有力的领导者来重新团结国家并引导其未来的命运。
    </p>
  </div>
  <div class="block en">
    <p>
      The opportunities for greatness lie all around, just waiting to be
      grasped.
    </p>
  </div>
  <div class="block cn">
    <p>伟大的机遇随处可见，只待把握。</p>
  </div>
  <div class="block en">
    <p>
      The best and quickest route to greatness probably lies in taking control
      of the Balkan provinces to the south and east. This will bring Hungary
      into competition with the Byzantine Empire, but a strong position is
      achievable, scotching any Byzantine plans to re-establish control over the
      Balkans.
    </p>
  </div>
  <div class="block cn">
    <p>
      通往伟大的最佳和最快的途径可能在于控制南部和东部的巴尔干省份。这将使匈牙利与拜占庭帝国竞争，但一个强有力的立足点是可以实现的，可以阻止拜占庭恢复对巴尔干的控制计划。
    </p>
  </div>
  <div class="block en">
    <p>
      To the north and east, there are lands to be taken on the steppes, but
      this can lead to frictions with the Polish. To the west, the Italians are
      quite powerful, and to the northwest, there is the Holy Roman Empire.
    </p>
  </div>
  <div class="block cn">
    <p>
      在北部和东部，有待征服的草原土地，但这可能会导致与波兰的摩擦。西边，意大利人相当强大，西北则是神圣罗马帝国。
    </p>
  </div>
  <div class="block en">
    <p>
      The Hungarians will need to make alliances with at least one of these
      powers to have any chance of success, or just to postpone a day of
      reckoning.
    </p>
  </div>
  <div class="block cn">
    <p>
      匈牙利人需要与这些强权中的至少一个建立联盟，才能有成功的机会，或者仅仅是推迟审判之日。
    </p>
  </div>
  <div class="block en">
    <p>
      Finally, the Hungarians lie on the likely route of any crusading army
      heading towards the Holy Land. Although the crusaders will still have a
      long way to go, their armies can strip provinces they pass through of
      riches and military units who decide to 'follow the cross.'
    </p>
  </div>
  <div class="block cn">
    <p>
      最后，匈牙利位于任何前往圣地的十字军军队可能经过的路线。虽然十字军还有很长的路要走，但他们的军队可以掠夺经过的省份的财富，并招募决定“追随十字架”的军事单位。
    </p>
  </div>
  <div class="block en">
    <p>
      All this said, the Hungarians have a strong starting position with
      naturally defensible frontiers. They can do well if they choose to grasp
      their opportunities.
    </p>
  </div>
  <div class="block cn">
    <p>
      综上所述，匈牙利拥有一个强大的起始位置，自然具有可防御的边界。如果他们选择把握机遇，他们可以表现得很好。
    </p>
  </div>
</div>
