<div *ngIf="data" class="common-wiki">
  <div class="details">
    <section class="overview">
      <div class="chart">
        <div class="item" *ngFor="let item of wikiConfig.chart">
          <span class="label">{{ item.label }}</span>
          <span class="value">{{ data.chart[item.id] }}</span>
        </div>
      </div>
    </section>
    <section class="characteristics" *ngFor="let item of wikiConfig.content">
      <div class="title" [id]="item.id">{{ item.title }}</div>
      <div class="content" [innerHTML]="data.content[item.id]"></div>
    </section>
  </div>
</div>
