<h3>商品上传</h3>
<div>
    <form [formGroup]="goodForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" formControlName="name">
        </div>
        <div>
            <label for="category">Category:</label>
            <input type="text" id="category" formControlName="category">
        </div>
        <div>
            <label for="file">Image:</label>
            <input type="file" id="file" (change)="onFileSelected($event)">
        </div>
        <button type="submit" [disabled]="!goodForm.valid">Submit</button>
    </form>
</div>
