<div *ngIf="data" class="article">
  <div class="top-info">
    <div *ngIf="weapon" class="identity-information">
      <div class="weapon-info" style="display: flex">
        <div class="image-box">
          <img
            [src]="weapon.file.heroAvatarPath"
            [alt]="weapon.file.name"
            [title]="weapon.file.heroName"
          />
        </div>
        <div class="info">
          <div style="font-size: 20px; font-weight: 600">
            {{ weapon.file.nameCN }}
          </div>
          <div style="font-size: 16px">{{ weapon.file.name }}</div>
          <div style="font-size: 16px">招式: {{ weapon.file.description }}</div>
        </div>
      </div>
      <w-back-button></w-back-button>
    </div>
    <div *ngIf="weaponExtra">
      <p
        style="margin: 12px 0; color: #c4c4a8; border-bottom: 1px solid #c4c4a8"
      >
        {{ weaponExtra.slogan }}
      </p>
      <p
        style="
          padding-bottom: 6px;
          margin-bottom: 12px;
          border-bottom: 1px solid #c4c4a8;
        "
      >
        {{ weaponExtra.description }}
      </p>
    </div>
  </div>
  <w-tag-selector
    [tags]="tags"
    (tagSelected)="onTagSelect($event)"
  ></w-tag-selector>
  <div
    *ngIf="
      weapon &&
      (selectedTagId === EArticleTags.VOTE ||
        selectedTagId === EArticleTags.ALL)
    "
    class="vote-list"
  >
    <div class="vote-item">
      <div class="left">
        我喜欢这个武器:
        <span style="color: #c4c4a8">{{ weapon.file.heroName }}</span>
      </div>
      <div class="right">
        <div class="vote-value">{{ votes['popularity'] || 0 }}</div>
        <div
          class="vote-button"
          (click)="onVoteClick(weapon.file.id, 'popularity')"
        >
          投票
        </div>
      </div>
    </div>
    <div class="vote-item">
      <div class="left">上手简单，适合新手!</div>
      <div class="right">
        <div class="vote-value">{{ votes['easy'] || 0 }}</div>
        <div class="vote-button" (click)="onVoteClick(weapon.file.id, 'easy')">
          投票
        </div>
      </div>
    </div>
    <div class="vote-item">
      <div class="left">太难了，特别有挑战!</div>
      <div class="right">
        <div class="vote-value">{{ votes['hard'] || 0 }}</div>
        <div class="vote-button" (click)="onVoteClick(weapon.file.id, 'hard')">
          投票
        </div>
      </div>
    </div>
  </div>
  <ng-container
    *ngIf="selectedTagId === EArticleTags.NEWER_TEACH && weapon?.file as file"
  >
    <div *ngIf="file.description?.length" class="game-strategy">
      <div [innerHTML]="file.description"></div>
      <ng-container *ngIf="file.contributors?.length">
        <div class="contributors">
          <span>供稿人:</span>
          <div
            *ngFor="let contributor of file.contributors"
            style="margin-right: 8px"
          >
            <a
              *ngIf="contributor.url"
              (click)="onContributorClick(contributor)"
              target="_blank"
              [href]="contributor.url"
              >{{ contributor.name }}</a
            >
            <a *ngIf="!contributor.url">{{ contributor.name }}</a>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <div style="margin-top: 6px">
    <w-list
      *ngIf="data.length"
      [data]="data"
      [mode]="eList.ARTICLE"
      (listItemClick)="onListItemClick($event)"
    ></w-list>
    <div *ngIf="!data.length && selectedTagId !== EArticleTags.VOTE">
      暂无内容
    </div>
  </div>
</div>
