<div class="w-app">
  <w-snackbar></w-snackbar>
  <w-banner (click)="onBannerClick()" [data]="appConfig.banner">
    <div rightContent>
      <w-back-home-button></w-back-home-button>
    </div>
  </w-banner>
  <div class="page">
    <div *ngIf="showNavigation" style="margin-bottom: 24px">
      <w-navigation
        [items]="appConfig.navigationItems"
        (navigationItemClick)="onNavigationItemClick($event)"
      ></w-navigation>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
