<div class="home">
  <div class="video-container">
    <video
      #videoPlayer
      muted
      loop
      autoplay
      playsinline
      poster=""
      preload="auto"
    >
      <source src="./assets/dog2.webm" type="video/mp4" />
    </video>
    <!--
    <div class="slogan">
      <div style="font-weight: 600">{{ appConfig.banner.subtitle }}</div>
      <div>Find your destined one</div>
    </div>
    -->
  </div>
  <div class="section-title">
    <div class="title">最好的宠物伴侣</div>
    <div class="description">等候你回到温暖的家</div>
  </div>
  <div class="to-all-button">查看所有的在售宠物</div>
  <div class="recommend-pets">
    <div class="pet-row">
      <img src="./assets/images/dogs/dog1.jpg" alt="" />
      <img src="./assets/images/dogs/dog2.jpg" alt="" />
      <img src="../assets/images/dogs/dog3.jpg" alt="" />
    </div>
    <div class="pet-row">
      <img src="../assets/images/dogs/dog4.jpg" alt="" />
      <img src="./assets/images/dogs/dog5.jpg" alt="" />
      <img src="../assets/images/dogs/dog6.jpg" alt="" />
    </div>
  </div>
  <div class="section-title">
    <div class="title">它们来自最专业的培育园</div>
    <div class="description">健康、美丽 & 魅力无限</div>
  </div>
  <div class="publicity-area">
    <div class="row">
      <div class="left">
        <img src="./assets/images/back1.jpg" alt="" />
      </div>
      <div class="right">
        <div class="article">
          <p class="title">我们的工作是为你寻找最合适的宠物伴侣！</p>
          <div class="content">
            <p>这份工作很简单也很难，您自己也可以去完成并做的很好！</p>
            <p>
              可以去各地旅行，亲自拜访最好宠物店或者犬舍，
              安排文件、健康检查和旅行要求。
            </p>
            <p>但事实是，您不想做这一切。</p>
            <p>而且，你不必这么麻烦！</p>
            <p>
              您想要的只是一只健康的小狗，让你的家庭更完整，生活更幸福快乐。
            </p>
            <p>在网上买小狗变得更加安全便捷。</p>
            <p>
              我们确保您的小狗来自一个优秀、有爱心的饲养者，他们的重点是血统的纯粹和质量，而不是小狗的数量。
            </p>
            <p>相信我们会做所有的工作，给您带来最好的小狗。</p>
            <p>我们一直是更多幸福家庭的选择。</p>
          </div>
          <p class="subtitle">
            二十多年来，我们已经成功服务过 15,000 个幸福的家庭。
          </p>
        </div>
      </div>
    </div>
    <div class="row change-flex-direction">
      <div class="left">
        <div class="article">
          <p class="title">如何从我们这里购买您梦想中的宠物？</p>
          <div class="content">
            <p>如何从我们这里购买您的梦想小狗？</p>
            <p>找到您心中最好的狗狗很简单！</p>
            <p>
              当您在我们的网站上找到你梦想中的小狗时，不要犹豫，联系我们的品种专家寻求建议。
            </p>
            <p>准备好后，使用我们的安全支付系统预订您的小狗。</p>
            <p>
              在我们开始为你安排一切的时候，放松一下、
              选择我们的住宿犬训练和社交服务。
            </p>
            <p>静待美好的到来。</p>
          </div>
          <p class="subtitle">我们的联系方式 188 888 888 88</p>
        </div>
      </div>
      <div class="right">
        <img src="./assets/images/back2.jpg" alt="" />
      </div>
    </div>
  </div>
  <div class="section-title">
    <div class="title">2024年最受欢迎的宠物</div>
    <div class="description">闪亮之星 & 人气最高</div>
  </div>
  <div class="popular-pets">
    <div class="pets-row">
      <div class="pet-item">
        <img
          src="https://images.europuppy.com/wp-content/uploads/KCS51495-200x250.jpg"
          alt=""
        />
        <div>Cavalier King Charles Spaniel</div>
      </div>
      <div class="pet-item">
        <img
          src="https://images.europuppy.com/wp-content/uploads/ba899606-c765-42c0-93f9-b03e038f212f-200x250.jpg"
          alt=""
        />
        <div>Cavapoo</div>
      </div>
      <div class="pet-item">
        <img
          src="https://images.europuppy.com/wp-content/uploads/shutterstock_510298571-200x250.jpg"
          alt=""
        />
        <div>Great Dane</div>
      </div>
      <div class="pet-item">
        <img
          src="https://images.europuppy.com/wp-content/uploads/golden-200x250.jpg"
          alt=""
        />
        <div>Golden Retriever</div>
      </div>
      <div class="pet-item">
        <img
          src="https://images.europuppy.com/wp-content/uploads/kcs5233-1-200x250.jpg"
          alt=""
        />
        <div>Labrador Retriever</div>
      </div>
      <div class="pet-item">
        <img
          src="https://images.europuppy.com/wp-content/uploads/German-Shepherd1-200x250.jpg"
          alt=""
        />
        <div>German Shepherd Dog</div>
      </div>
    </div>
    <div class="pets-row">
      <div class="pet-item">
        <img
          src="https://images.europuppy.com/wp-content/uploads/2020/05/cute-puppy-maltipoo-dog-posing-isolated-white-background-3-200x250.jpg"
          alt=""
        />
        <div>Maltipom</div>
      </div>
      <div class="pet-item">
        <img
          src="https://images.europuppy.com/wp-content/uploads/kcs5817-1-200x250.jpg"
          alt=""
        />
        <div>English Cocker Spaniel</div>
      </div>
      <div class="pet-item">
        <img
          src="https://images.europuppy.com/wp-content/uploads/KCS57111-200x250.jpg"
          alt=""
        />
        <div>Yorkshire Terrier</div>
      </div>
      <div class="pet-item">
        <img
          src="https://images.europuppy.com/wp-content/uploads/macska-nélkül-kifehérített-háttérrel-200x250.jpg"
          alt=""
        />
        <div>Caucasian Mountain Dog</div>
      </div>
      <div class="pet-item">
        <img
          src="https://images.europuppy.com/wp-content/uploads/kcs5528-1-200x250.jpg"
          alt=""
        />
        <div>English Bulldog</div>
      </div>
      <div class="pet-item">
        <img
          src="https://images.europuppy.com/wp-content/uploads/most-popular2_1-200x250.jpg"
          alt=""
        />
        <div>French Bulldog</div>
      </div>
    </div>
  </div>
  <div class="section-title">
    <div class="title">为什么选择我们？</div>
    <div class="description">承诺</div>
  </div>
  <div class="commitment">
    <div class="commitment__row">
      <div class="article">
        <p class="title">宠物福利</p>
        <div class="content">
          <p>我们与充满爱心的繁育人员合作。</p>
          <p>致力于他们小狗的健康，并给他们最好的开始。</p>
          <p>在小狗上线之前，我们会检查生活条件。</p>
          <p>检查每只小狗，并确保遵守良好的成长规范。</p>
          <p>只有当一切都符合我们的高标准时，小狗才会在这里等你！</p>
        </div>
      </div>
      <div class="article">
        <p class="title">专业服务</p>
        <div class="content">
          <p>毫无疑问，在线购买小狗对您来说是一件大事。</p>
          <p>这对我们来说也是一件大事！</p>
          <p>
            在您与我们的旅程中，从您第一次联系我们的那一刻起，到您选择小狗之后，甚至在您与小狗在一起之后，您都会得到我们的专业支持。
          </p>
        </div>
      </div>
      <div class="article">
        <p class="title">接种疫苗并杀虫</p>
        <div class="content">
          <p>小狗健康和安全始终是第一位的！</p>
          <p>确保每只小狗都得到完成接种疫苗和驱虫。</p>
          <p>
            我们所有的小狗都接种了适合其年龄和您所在地的所有疫苗，并且都已完成驱虫。
          </p>
          <p>所有的健康、兽医和疫苗接种文件都将与您的小狗一起送达哦！</p>
        </div>
      </div>
    </div>
    <div class="commitment__row">
      <div class="article">
        <p class="title">健康证</p>
        <div class="content">
          <p>终身健康保证小狗是你长期的快乐和长期的承诺。</p>
          <p>所以，你可以感到真正的放心。</p>
          <p>知道你和你的狗在一起的整个过程中都受到了保护。</p>
          <p>这是我们用心许下的承诺。</p>
        </div>
      </div>
      <div class="article">
        <p class="title">售前体检</p>
        <div class="content">
          <p>宠物会接受严格的售前检查。</p>
          <p>我们有专业的小伙伴，给您提供喂养指导和饲养参考。</p>
          <p>陪伴狗狗尽快融入您的生活，体验不一样的生活方式。</p>
          <p>如果您在饲养过程中，有疑问随时咨询我们，这是我们的另一种陪伴。</p>
        </div>
      </div>
      <div class="article">
        <p class="title">安全运输</p>
        <div class="content">
          <p>我们通过快递物流、宠物友好航空、专业的宠物运输。</p>
          <p>将您的小狗放在舒适的板条箱、航空箱、气候控制的机舱内。</p>
          <p>确保小狗奔赴您的路程尽可能舒适！</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-banner">
    <img
      src="https://www.europuppy.com/wp-content/themes/europuppy_wp/img/dogs-separator.png"
      alt=""
    />
  </div>
</div>
