<div class="static-article">
  <div class="block en">
    <p>
      At this starting date, the Egyptians have a strong strategic position.
      Egypt itself has the potential to generate tremendous wealth, and both
      nearby foes—the Almohads and the Turks—are co-religionists and may move
      against other, non-Islamic factions.
    </p>
  </div>
  <div class="block cn">
    <p>
      在这个起始日期，埃及人拥有强大的战略位置。埃及本身具有产生巨大财富的潜力，附近的敌人——阿尔摩哈德和土耳其人——是同宗教信仰者，可能会对其他非伊斯兰派系采取行动。
    </p>
  </div>
  <div class="block en">
    <p>
      The Egyptians also field a significant number of exclusive and uncommon
      units in their armies, such as the Mamluks. They also have the potential
      to field the first gunpowder weaponry in the Mediterranean world. But
      Egyptian victory requires more than simply hanging on and waiting for
      enemies to destroy each other.
    </p>
  </div>
  <div class="block cn">
    <p>
      埃及人还在军队中拥有相当数量的独特和不常见的单位，例如马穆鲁克。他们还有潜力在地中海世界首次使用火药武器。但埃及的胜利不仅仅需要坚持等待敌人相互毁灭。
    </p>
  </div>
  <div class="block en">
    <p>
      The ruling Islamic Fatimid dynasty in Egypt has been blessed in many ways.
      The heartland of their domain remains as rich and fertile as ever, thanks
      to yearly flooding by the renewing Nile.
    </p>
  </div>
  <div class="block cn">
    <p>
      统治埃及的伊斯兰法蒂玛王朝在许多方面都受到祝福。由于每年尼罗河的洪水更新，他们的核心领土依然富饶肥沃。
    </p>
  </div>
  <div class="block en">
    <p>
      The great cities along the riverbanks are some of the most sophisticated,
      wealthy, and vibrant in the Known World. This is partly due to the Greek
      and Roman culture that the Fatamids inherited, but it has been transformed
      by their Arabic influence into something richer: a truly enlightened and
      erudite culture.
    </p>
  </div>
  <div class="block cn">
    <p>
      沿河的伟大城市是已知世界中一些最复杂、最富裕和最充满活力的城市。这部分归因于法蒂玛王朝所继承的希腊和罗马文化，但在阿拉伯影响下，已经转变为更为丰富的东西：一种真正开明和博学的文化。
    </p>
  </div>
  <div class="block en">
    <p>
      The Islamic rulers of Egypt are also tolerant to a degree not seen
      elsewhere: Jews, Orthodox Christians, Coptic Christians, and many other
      sects are allowed to worship as they will, although they are excluded from
      certain government posts.
    </p>
  </div>
  <div class="block cn">
    <p>
      埃及的伊斯兰统治者也表现出其他地方所未见的宽容：犹太人、东正教徒、科普特基督徒以及许多其他教派被允许自由崇拜，尽管他们被排除在某些政府职位之外。
    </p>
  </div>
  <div class="block en">
    <p>
      This gives the dynasty an underlying strength and popularity that stands
      it in good stead to meet the future.
    </p>
  </div>
  <div class="block cn">
    <p>这为王朝提供了基础的力量和人气，使其在面对未来时处于有利位置。</p>
  </div>
  <div class="block en">
    <p>
      Egypt does face external threats, but should be well placed to meet them.
      There is an expansionist tendency in western, Catholic Christianity that
      could lead to trouble.
    </p>
  </div>
  <div class="block cn">
    <p>
      埃及确实面临外部威胁，但应能很好地应对这些威胁。西方天主教基督教有扩张倾向，可能会引发麻烦。
    </p>
  </div>
  <div class="block en">
    <p>
      Future Islamic control of the eastern Mediterranean could be challenged,
      and this has long been encouraged by the Byzantine Empire to the north.
      There is always the chance that the Byzantine Empire will seek to
      re-establish direct control over its former possessions.
    </p>
  </div>
  <div class="block cn">
    <p>
      未来对东地中海的伊斯兰控制可能会受到挑战，而这长期以来受到北方拜占庭帝国的鼓励。拜占庭帝国始终有可能寻求重新建立对其前属地的直接控制。
    </p>
  </div>
  <div class="block en">
    <p>
      In addition, the Almohads to the west do not demonstrate the friendliness
      that should become fellow Muslims, and the same is sometimes true of the
      Turks in the near east.
    </p>
  </div>
  <div class="block cn">
    <p>
      此外，西边的阿尔摩哈德并未表现出同为穆斯林应有的友好，近东的土耳其人有时也是如此。
    </p>
  </div>
  <div class="block en">
    <p>
      Providing that each of these challenges can be met, there is plenty to
      look forward to as a ruler of Egypt—the wealth of the Mediterranean and
      Islamic worlds is there for the taking!
    </p>
  </div>
  <div class="block cn">
    <p>
      只要能够应对这些挑战，作为埃及的统治者将有很多值得期待的事情——地中海和伊斯兰世界的财富唾手可得！
    </p>
  </div>
</div>
