.service {
  width: 100%;
  padding-top: 12px;

  .container {
    width: 900px;
    margin: 0 auto 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .item {
      cursor: pointer;
      position: relative;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 240px;
      margin-bottom: 12px;
      border: 2px solid transparent;
      border-radius: 12px;
      overflow: hidden;
      transition: all 0.5s ease;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .title {
        position: absolute;
        z-index: 1000;
        bottom: 24px;
        right: 24px;
        color: #ffffff;
        font-size: 24px;
        transition: transform 0.5s ease;
      }

      &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
        border-color: #535353;

        .title {
          transform: scale(1.2);
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .service {
    .container {
      width: 100vw;

      .item {
        height: 200px;

        .title {
          font-size: 18px;
        }
      }
    }
  }
}
