<div class="static-article">
  <div class="block en">
    <p>
      The Holy Roman Empire at this early start date presents problems and
      opportunities. The size of the Empire itself is something of a problem, as
      it is not quite large enough to completely dominate the continent.
    </p>
  </div>
  <div class="block cn">
    <p>
      在这个早期阶段，神圣罗马帝国面临着问题和机遇。帝国的规模本身就是一个问题，因为它并不够大，无法完全主宰整个大陆。
    </p>
  </div>
  <div class="block en">
    <p>
      There are potential enemies on all sides too. The Empire has to both hang
      on to what it already has and pursue a process of aggressive conquest
      against each of its enemies in turn.
    </p>
  </div>
  <div class="block cn">
    <p>
      四周也有潜在的敌人。帝国不仅必须守住现有的领土，还需逐一对每个敌人进行积极的征服。
    </p>
  </div>
  <div class="block en">
    <p>
      The Empire's (almost) exclusive troops appear relatively late in the game,
      but they are worth the wait. Gothic Knights, particularly from Saxony, are
      among the most powerful armoured cavalry available to any faction, and
      Gothic sergeants are equally good for their class.
    </p>
  </div>
  <div class="block cn">
    <p>
      帝国（几乎）专属的部队在游戏中相对较晚出现，但值得等待。哥特骑士，特别是来自萨克森的骑士，是任何派系中最强大的重骑兵之一，哥特军士在其等级中同样优秀。
    </p>
  </div>
  <div class="block en">
    <p>Crusades too can be a powerful weapon for the Empire.</p>
  </div>
  <div class="block cn">
    <p>十字军东征同样可以成为帝国的一项强大武器。</p>
  </div>
  <div class="block en">
    <p>
      Although apparently surrounded by rivals and subject to internal dissent,
      the Holy Roman Empire is not the weakling power it might seem. The Emperor
      is the overlord - for the most part - of vast tracts of Germany and
      beyond, but his need to keep dissent and disloyalty under control can be a
      limitation on his power.
    </p>
  </div>
  <div class="block cn">
    <p>
      尽管看似被对手包围且面临内部异议，神圣罗马帝国并不是看起来那么软弱。皇帝在大部分情况下是德国及其他地区广阔土地的领主，但他需要控制异议和不忠，限制了他的权力。
    </p>
  </div>
  <div class="block en">
    <p>
      Few within the Empire feel loyalty to anything beyond their immediate
      locality, making effective Imperial government almost the same as Imperial
      military occupation.
    </p>
  </div>
  <div class="block cn">
    <p>
      帝国内很少有人对超越自己所在地方的事物感到忠诚，这使得有效的帝国统治几乎等同于帝国军事占领。
    </p>
  </div>
  <div class="block en">
    <p>
      Added to this is a rivalry with the Pope over who holds the ultimate
      authority within the Empire: Emperors have created their own Popes and
      then been excommunicated by the same men!
    </p>
  </div>
  <div class="block cn">
    <p>
      此外，还有与教皇之间关于谁在帝国内拥有最终权威的竞争：皇帝们曾创造自己的教皇，然后又被同一个人逐出教会！
    </p>
  </div>
  <div class="block en">
    <p>
      If, however, the Emperor succeeds in keeping his provinces in line, his
      powers for further conquest are formidable indeed. Any new lands he takes
      only add to his power and can, with careful management, eventually be more
      loyal to the idea of 'the Empire' than the older Imperial provinces inside
      Germany.
    </p>
  </div>
  <div class="block cn">
    <p>
      然而，如果皇帝成功地维持各省的秩序，他进一步征服的能力确实是强大的。他所征得的新土地只会增强他的权力，并且在谨慎管理下，最终可能对“帝国”这一概念比德国境内的老帝国省份更加忠诚。
    </p>
  </div>
  <div class="block en">
    <p>
      A drive to the east against Poland can give easy pickings providing care
      is taken. The Poles can have problems of their own on their eastern
      frontiers, and judicious pressure from Germany can yield real gains.
    </p>
  </div>
  <div class="block cn">
    <p>
      向东对抗波兰的进攻可以带来轻松的收益，只要小心应对。波兰在其东部边境可能面临自身的问题，德国的适度压力可能会带来实质性的收益。
    </p>
  </div>
  <div class="block en">
    <p>
      A move to the southeast is possible, into the Balkans and towards the
      Black Sea, brushing aside or absorbing the petty kingdoms there.
    </p>
  </div>
  <div class="block cn">
    <p>
      向东南方向移动也是可能的，进入巴尔干半岛并向黑海进军，击败或吞并那里的小王国。
    </p>
  </div>
  <div class="block en">
    <p>
      To the south, the rich provinces of the Italian peninsular are a
      temptation with an additional bonus in controlling Rome and thus
      influencing the Papacy, although this has the risk of causing religious
      unrest.
    </p>
  </div>
  <div class="block cn">
    <p>
      向南，意大利半岛的富饶省份是一个诱惑，并且控制罗马会额外获得影响教皇的好处，尽管这有引发宗教动荡的风险。
    </p>
  </div>
  <div class="block en">
    <p>
      To the west, the French are often distracted by their wars with England.
      The Empire, however, needs to avoid war against more than one opponent at
      a time.
    </p>
  </div>
  <div class="block cn">
    <p>
      向西，法国人常常因与英格兰的战争而分心。然而，帝国需要避免与多个敌人同时开战。
    </p>
  </div>
  <div class="block en">
    <p>
      A central position may allow the Emperor to strike out in any direction,
      but he can also be attacked anywhere along his borders.
    </p>
  </div>
  <div class="block cn">
    <p>中心位置可能使皇帝能够向任何方向进攻，但他也可能在任何边界受到攻击。</p>
  </div>
  <div class="block en">
    <p>
      Finally, no Emperor should overlook the possibilities for power presented
      by a Crusade when the Pope calls for one. Who is to say what lands might
      be available in the wake of such an endeavour?
    </p>
  </div>
  <div class="block cn">
    <p>
      最后，任何皇帝都不应忽视教皇呼吁的十字军所带来的权力可能性。谁能说在这样的努力之后会有什么土地可供征服呢？
    </p>
  </div>
</div>
