<form (ngSubmit)="onSubmit()" #taskForm="ngForm">
    <mat-form-field style="width: 180px" appearance="outline">
        <mat-label>任务编号</mat-label>
        <input matInput placeholder="请输入..." [(ngModel)]="task.taskCode" name="taskCode" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>任务标题</mat-label>
        <input matInput placeholder="请输入..." [(ngModel)]="task.title" name="title" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>任务描述</mat-label>
        <textarea matInput placeholder="请输入..." [(ngModel)]="task.description" name="description" required></textarea>
    </mat-form-field>
    <mat-form-field style="width: 180px" appearance="outline">
        <mat-label>执行人</mat-label>
        <input matInput placeholder="分配给..." [(ngModel)]="task.assignedTo" name="assignedTo" required>
    </mat-form-field>
    <mat-form-field style="width: 120px; margin-left: 12px" appearance="outline">
        <mat-select placeholder="状态" [(ngModel)]="task.status" name="status" required>
            <mat-option value="To Do">To Do</mat-option>
            <mat-option value="In Progress">In Progress</mat-option>
            <mat-option value="Done">Done</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="button-row">
        <button mat-raised-button color="primary" type="submit" [disabled]="!taskForm.valid">Create</button>
        <button mat-raised-button type="button" routerLink="/tasks">Cancel</button>
    </div>
</form>